02-workflows-n8n/soc-octopus-cloud-iam-permissao-mock.json
{
  "name": "SOC-Octopus-Agent - Cloud IAM Permissao Production",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soc-octopus/cloud-iam-permissao",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "noResponseBody": false
        },
        "authentication": "headerAuth"
      },
      "id": "prod-webhook-cloud-iam",
      "name": "01 - Webhook Ingress Production",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -220
      ],
      "notesInFlow": true,
      "notes": "Entrada de producao via webhook. Placeholders de autenticacao esperados: X-API-Key, Authorization Bearer e HMAC Signature.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WEBHOOK_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "prod-manual-trigger-cloud-iam",
      "name": "00 - Manual Trigger Replay",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notesInFlow": true,
      "notes": "Inicio manual de replay. Workflow permanece inativo e sem gatilho externo."
    },
    {
      "parameters": {
        "jsCode": "const incoming = items[0]?.json ?? {}; const hasIncomingPayload = Object.keys(incoming).length > 0 && Object.keys(incoming).some((key) => key !== 'executionMode'); const payload = incoming.payload ?? incoming.body ?? incoming ?? {}; const executionId = 'exec-' + Date.now(); const traceId = payload.trace_id || 'trace-missing'; const caseId = payload.case_id || 'case-missing'; return [{ json: { payload, workflow_context: { workflow_mode: 'production_ready', environment: 'production', source: hasIncomingPayload ? 'incoming_payload' : 'manual_trigger_empty_payload', generated_at: new Date().toISOString(), workflow_name: 'SOC-Octopus-Agent - Cloud IAM Permissao Production', workflow_version: '1.0.0', observability: { started_at_ms: Date.now(), execution_id: executionId, correlation_id: [caseId, traceId].join(':'), trace_id: traceId }, auth_placeholders: { x_api_key: incoming.headers?.['x-api-key'] ?? '{{X-API-Key}}', authorization_bearer: incoming.headers?.authorization ?? '{{Authorization Bearer}}', hmac_signature: incoming.headers?.['x-hmac-signature'] ?? '{{HMAC Signature}}' } }, security_controls: { external_calls_allowed: false, remediation_allowed: false, credentials_allowed: false, production_allowed: false, production_changes_allowed: false, human_approval_required: true } } }];"
      },
      "id": "prod-receber-cloud-iam",
      "name": "02 - Receber Evento Cloud IAM Production",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "notesInFlow": true,
      "notes": "Recebe payload do webhook ou replay manual e prepara contexto de execucao sem dados sinteticos."
    },
    {
      "parameters": {
        "jsCode": "function asText(value) { if (value === undefined || value === null) return ''; return String(value).trim(); } function asBool(value) { return value === true || value === 'true'; } function parseEntities(payload) { if (payload.entities && typeof payload.entities === 'object' && !Array.isArray(payload.entities)) return payload.entities; const summary = asText(payload.entities_summary); const result = {}; for (const part of summary.split(';')) { const [key, ...rest] = part.split('='); if (key && rest.length) result[key.trim()] = rest.join('=').trim(); } return result; } function normalizeEvidence(payload) { if (Array.isArray(payload.evidence)) return payload.evidence.map(asText).filter(Boolean); const evidence = asText(payload.evidence_summary || payload.evidence); return evidence ? [evidence] : []; } return items.map((item) => { const payload = item.json.payload ?? {}; const entities = parseEntities(payload); const normalized = { case_id: asText(payload.case_id), trace_id: asText(payload.trace_id), input_type: asText(payload.input_type).toLowerCase(), source_system: asText(payload.source_system), received_at: asText(payload.received_at), severity: asText(payload.severity).toLowerCase(), title: asText(payload.title), description: asText(payload.description), classification_hint: asText(payload.classification_hint).toLowerCase(), entities, evidence: normalizeEvidence(payload), cloud_iam_context: { user: asText(payload.user || entities.user), service: asText(payload.service || entities.service).toLowerCase(), resource: asText(payload.resource || entities.resource), permission: asText(payload.permission || entities.permission).toLowerCase(), role: asText(payload.role || entities.role), action: asText(payload.action || entities.action).toLowerCase(), scope: asText(payload.scope || entities.scope).toLowerCase(), change_id: asText(payload.change_id || entities.change_id), requester_validated: asBool(payload.requester_validated) || asBool(entities.requester_validated), idp_tenant: asText(payload.idp_tenant || entities.idp_tenant), source_ip: asText(payload.source_ip || entities.source_ip) }, flags: { synthetic_payload: asBool(payload.synthetic_payload), contains_real_customer_data: asBool(payload.contains_real_customer_data), contains_credentials: asBool(payload.contains_credentials), human_approval_required_for_action: asBool(payload.human_approval_required_for_action) } }; return { json: { ...item.json, normalized, processing_stage: 'normalization', normalization_status: 'completed' } }; });"
      },
      "id": "prod-normalizar-cloud-iam",
      "name": "03 - Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "notesInFlow": true,
      "notes": "Normaliza campos do evento, entidades, evidencias e contexto Cloud IAM."
    },
    {
      "parameters": {
        "jsCode": "const allowedInputTypes = new Set(['event', 'alert', 'request', 'soc_alert']); const allowedSeverities = new Set(['low', 'medium', 'high', 'critical']); const requiredFields = ['case_id', 'trace_id', 'input_type', 'severity', 'title', 'description']; const credentialPattern = /(password|passwd|senha|token|secret|client_secret|authorization|bearer|access_key|private_key)\\s*[:=]/i; return items.map((item) => { const normalized = item.json.normalized ?? {}; const cloud = normalized.cloud_iam_context ?? {}; const missing_fields = requiredFields.filter((field) => !normalized[field]); const invalid_fields = []; const security = item.json.security_controls ?? {}; const flags = normalized.flags ?? {}; const security_violations = []; if (normalized.input_type && !allowedInputTypes.has(normalized.input_type)) invalid_fields.push('input_type'); if (normalized.severity && !allowedSeverities.has(normalized.severity)) invalid_fields.push('severity'); if (!cloud.user) missing_fields.push('entities.user'); if (!cloud.service) missing_fields.push('entities.service'); if (!cloud.resource) missing_fields.push('entities.resource'); if (!cloud.permission && !cloud.role) missing_fields.push('entities.permission_or_role'); const searchablePayload = [normalized.title, normalized.description, ...(Array.isArray(normalized.evidence) ? normalized.evidence : []), Object.values(normalized.entities ?? {}).join(' ')].join(' '); if (flags.contains_real_customer_data) security_violations.push('contains_real_customer_data'); if (flags.contains_credentials) security_violations.push('contains_credentials'); if (credentialPattern.test(searchablePayload)) security_violations.push('credential_like_material_detected'); if (security.external_calls_allowed) security_violations.push('external_calls_allowed'); if (security.remediation_allowed) security_violations.push('remediation_allowed'); if (security.credentials_allowed) security_violations.push('credentials_allowed'); if (security.production_allowed) security_violations.push('production_allowed'); if (security.production_changes_allowed) security_violations.push('production_changes_allowed'); const is_valid = missing_fields.length === 0 && invalid_fields.length === 0 && security_violations.length === 0; return { json: { ...item.json, processing_stage: 'validation', validation: { is_valid, status: is_valid ? 'valid' : 'invalid', required_fields: [...requiredFields, 'entities.user', 'entities.service', 'entities.resource', 'entities.permission_or_role'], missing_fields, invalid_fields, security_violations, enrichment_gaps: [cloud.scope ? null : 'scope_missing', cloud.change_id ? null : 'change_id_missing', cloud.requester_validated ? null : 'requester_validation_missing'].filter(Boolean), validation_notes: is_valid ? 'Evento Cloud IAM aceito para producao controlada.' : 'Evento bloqueado antes de classificacao.' } } }; });"
      },
      "id": "prod-validar-cloud-iam",
      "name": "04 - Validar Campos Obrigatorios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ],
      "notesInFlow": true,
      "notes": "Valida campos minimos, tipo, severidade e controles de seguranca antes de classificar."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"validation\"][\"is_valid\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "prod-if-valido-cloud-iam",
      "name": "05 - Entrada Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "notesInFlow": true,
      "notes": "Direciona evento valido para classificacao e invalido para rejeicao controlada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const validation = item.json.validation ?? {}; return { json: { ...item.json, processing_stage: 'controlled_rejection', controlled_rejection: { rejected: true, reason: 'Evento Cloud IAM invalido ou violacao de seguranca detectada antes da classificacao.', missing_fields: validation.missing_fields ?? [], invalid_fields: validation.invalid_fields ?? [], security_violations: validation.security_violations ?? [], case_id: normalized.case_id || 'not_available', trace_id: normalized.trace_id || 'not_available', next_action: 'Corrigir evento em ambiente controlado e reexecutar manualmente.', automated_action_executed: false } } }; });"
      },
      "id": "prod-rejeicao-controlada-cloud-iam",
      "name": "05.1 - Rejeicao Controlada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        260
      ],
      "notesInFlow": true,
      "notes": "Trata entradas invalidas sem executar acao externa."
    },
    {
      "parameters": {
        "jsCode": "function includesAny(text, terms) { return terms.some((term) => text.includes(term)); } function riskFromSeverity(severity) { if (severity === 'critical') return 'critical'; if (severity === 'high') return 'high'; if (severity === 'medium') return 'medium'; return 'low'; } const routeRules = [ { route: 'cloud_iam', terms: ['cloud_iam', 'iam', 'permissao', 'permission', 'admin', 'privilege', 'privilegio'] }, { route: 'privilege_escalation', terms: ['privilege escalation', 'escalation', 'elevacao', 'owner', 'administrator', 'permission_granted'] }, { route: 'identity', terms: ['identity', 'identidade', 'user', 'usuario', 'requester', 'mfa', 'login'] }, { route: 'permission_drift', terms: ['drift', 'mudanca', 'change', 'outside_window', 'scope', 'policy drift', 'desvio'] } ]; const specialistsByRoute = { cloud_iam: ['cloud_iam', 'identidade', 'consolidador'], privilege_escalation: ['privilegio_cloud', 'cloud_iam', 'consolidador'], identity: ['identidade', 'cloud_iam', 'consolidador'], permission_drift: ['governanca_cloud', 'cloud_iam', 'consolidador'], unknown: ['triagem_soc', 'consolidador'] }; return items.map((item) => { const normalized = item.json.normalized ?? {}; const cloud = normalized.cloud_iam_context ?? {}; const evidenceText = Array.isArray(normalized.evidence) ? normalized.evidence.join(' ') : ''; const entitiesText = Object.values(normalized.entities ?? {}).join(' '); const corpus = [normalized.classification_hint, normalized.title, normalized.description, cloud.service, cloud.resource, cloud.permission, cloud.role, cloud.action, cloud.scope, cloud.change_id, evidenceText, entitiesText].join(' ').toLowerCase(); let probable_root_cause = 'unknown'; let classification_reason = 'Nenhuma regra local identificou causa provavel com confianca suficiente.'; let confidence_level = 'low'; const hint = normalized.classification_hint; const directRoute = routeRules.find((rule) => rule.route === hint || (hint === 'cloud' && rule.route === 'cloud_iam') || (hint === 'iam' && rule.route === 'cloud_iam') || (hint === 'privilege' && rule.route === 'privilege_escalation') || (hint === 'permission' && rule.route === 'cloud_iam')); if (directRoute) { probable_root_cause = directRoute.route; classification_reason = 'classification_hint indicou rota ' + directRoute.route + '.'; confidence_level = 'high'; } else { const matched = routeRules.find((rule) => includesAny(corpus, rule.terms)); if (matched) { probable_root_cause = matched.route; classification_reason = 'Regras locais identificaram termos associados a ' + matched.route + '.'; confidence_level = 'medium'; } } if ((cloud.permission.includes('admin') || cloud.role.toLowerCase().includes('admin')) && probable_root_cause === 'cloud_iam') { classification_reason = 'Permissao ou role administrativa detectada em recurso cloud de producao controlada.'; confidence_level = 'high'; } const risk_level = riskFromSeverity(normalized.severity); return { json: { ...item.json, processing_stage: 'classification', classification: { probable_root_cause, routing_key: probable_root_cause, risk_level, risk_score: { critical: 95, high: 80, medium: 55, low: 25 }[risk_level] || 25, confidence_level, confidence_score: { high: 90, medium: 70, low: 45 }[confidence_level] || 45, classification_reason, false_positive_assessment: 'possible', possible_false_positive: true, specialists_recommended: specialistsByRoute[probable_root_cause] ?? specialistsByRoute.unknown } } }; });"
      },
      "id": "prod-classificar-cloud-iam",
      "name": "06 - Classificar Evento Cloud IAM Production",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -140
      ],
      "notesInFlow": true,
      "notes": "Classificacao deterministica local para IAM/IdP, privilegio, identidade, drift de permissao ou fallback unknown."
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "cloud_iam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cloud_iam"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "privilege_escalation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "privilege_escalation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "identity",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "identity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "permission_drift",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "permission_drift"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown",
          "ignoreCase": true
        }
      },
      "id": "prod-switch-cloud-iam",
      "name": "07 - Switch Roteamento Cloud IAM",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1560,
        -140
      ],
      "notesInFlow": true,
      "notes": "Roteia para especialista dedicado conforme causa provavel do evento Cloud IAM."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const cloud = normalized.cloud_iam_context ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; const validation = item.json.validation ?? {}; return { json: { ...item.json, processing_stage: 'cloud_iam_specialist', specialist_analysis: { specialist: 'cloud_iam', diagnosis: 'Evento indica permissao ou role IAM potencialmente excessiva em recurso cloud de producao controlada.', evidence_considered: evidence, affected_entities: { user: cloud.user || 'usuario_nao_informado', service: cloud.service || 'servico_nao_informado', resource: cloud.resource || 'recurso_nao_informado', permission: cloud.permission || cloud.role || 'permissao_nao_informada' }, recommendation: 'Validar necessidade, escopo e aprovacao antes de qualquer alteracao IAM.', technical_steps: ['Confirmar usuario, recurso, role e permissao envolvida.','Verificar se o escopo e minimo necessario em modo somente leitura.','Correlacionar com change_id ou aprovacao informada.','Preparar revogacao ou ajuste apenas apos aprovacao humana explicita.'], enrichment_gaps: validation.enrichment_gaps ?? [], escalation: 'Escalonar para Cloud Security e IAM se a permissao administrativa nao for justificada.', critical_actions_need_approval: ['revogacao_permissao', 'alteracao_iam', 'remocao_role', 'reduzir_escopo_de_acesso'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-cloud-iam",
      "name": "08 - Especialista Cloud IAM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -320
      ],
      "notesInFlow": true,
      "notes": "Analise local de Cloud IAM sem API externa, credencial ou alteracao real."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const cloud = normalized.cloud_iam_context ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; return { json: { ...item.json, processing_stage: 'privilege_escalation_specialist', specialist_analysis: { specialist: 'privilege_escalation', diagnosis: 'Evento pode representar elevacao de privilegio em ambiente cloud de producao controlada.', evidence_considered: evidence, affected_entities: { user: cloud.user || 'usuario_nao_informado', role: cloud.role || 'role_nao_informada', action: cloud.action || 'acao_nao_informada', scope: cloud.scope || 'escopo_nao_informado' }, recommendation: 'Tratar como risco alto ate validar aprovacao, origem e necessidade do privilegio.', technical_steps: ['Confirmar se a acao adicionou privilegio administrativo ou equivalente.','Validar se o escopo e temporario, limitado e aprovado.','Revisar se a conta solicitante foi validada por canal humano aprovado.','Submeter revogacao ou reducao de privilegio para aprovacao humana.'], escalation: 'Escalonar para Cloud Security e IAM se houver privilegio excessivo sem aprovacao.', critical_actions_need_approval: ['revogar_privilegio_admin', 'bloquear_role', 'remover_grupo_privilegiado'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-privilegio",
      "name": "08.1 - Especialista Escalada Privilegio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -120
      ],
      "notesInFlow": true,
      "notes": "Analise local de escalada de privilegio sem remediacao automatica."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const cloud = normalized.cloud_iam_context ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; return { json: { ...item.json, processing_stage: 'identity_specialist', specialist_analysis: { specialist: 'identity', diagnosis: 'Evento Cloud IAM depende de validacao da identidade solicitante e do contexto de acesso.', evidence_considered: evidence, affected_entities: { user: cloud.user || 'usuario_nao_informado', requester_validated: cloud.requester_validated === true, action: cloud.action || 'acao_nao_informada' }, recommendation: 'Validar solicitante e legitimidade da atribuicao sem solicitar senha, token ou segredo.', technical_steps: ['Confirmar se o usuario e proprietario ou solicitante autorizado.','Revisar aprovacao por canal humano aprovado.','Avaliar se a identidade deveria receber acesso ao recurso.','Submeter qualquer revogacao ou alteracao a aprovacao humana.'], escalation: 'Escalonar para Identidade/IAM se o solicitante nao for validado.', critical_actions_need_approval: ['revogar_acesso_usuario', 'remover_role_usuario', 'bloqueio_conta_cloud'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-identidade-cloud",
      "name": "08.2 - Especialista Identidade Cloud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        80
      ],
      "notesInFlow": true,
      "notes": "Analise local de identidade cloud sem tokens, APIs ou alteracao de conta."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const cloud = normalized.cloud_iam_context ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; return { json: { ...item.json, processing_stage: 'permission_drift_specialist', specialist_analysis: { specialist: 'permission_drift', diagnosis: 'Evento pode indicar desvio de permissao em relacao ao escopo esperado ou processo de mudanca.', evidence_considered: evidence, affected_entities: { resource: cloud.resource || 'recurso_nao_informado', permission: cloud.permission || cloud.role || 'permissao_nao_informada', scope: cloud.scope || 'escopo_nao_informado', change_id: cloud.change_id || 'change_nao_informado' }, recommendation: 'Validar drift, escopo minimo e rastreabilidade antes de ajuste IAM.', technical_steps: ['Comparar permissao atribuida com padrao esperado em producao controlada.','Validar se ha change_id ou justificativa associada.','Identificar se o escopo excede o recurso declarado.','Submeter correcao de drift para aprovacao humana.'], escalation: 'Escalonar para Governanca Cloud/IAM se houver desvio sem justificativa.', critical_actions_need_approval: ['corrigir_drift_iam', 'reduzir_escopo_role', 'remover_politica_excessiva'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-drift",
      "name": "08.3 - Especialista Drift Permissao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        280
      ],
      "notesInFlow": true,
      "notes": "Analise local de drift de permissao sem consultar cloud real."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const cloud = normalized.cloud_iam_context ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; return { json: { ...item.json, processing_stage: 'unknown_specialist', specialist_analysis: { specialist: 'unknown', diagnosis: 'Causa provavel do evento Cloud IAM nao determinada pelas regras locais de producao controlada.', evidence_considered: evidence, affected_entities: { user: cloud.user || 'usuario_nao_informado', service: cloud.service || 'servico_nao_informado', resource: cloud.resource || 'recurso_nao_informado' }, recommendation: 'Manter evento em triagem humana e coletar contexto adicional nao sensivel antes de qualquer acao.', technical_steps: ['Revisar titulo, descricao, entidades e evidencias do evento.','Solicitar permissao, role, escopo e change_id quando disponiveis.','Reexecutar com classification_hint quando a causa for conhecida.','Nao revogar, alterar, bloquear ou remover permissoes automaticamente.'], escalation: 'Escalonar para triagem SOC/Cloud humana.', critical_actions_need_approval: ['qualquer_acao_cloud_iam'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-unknown-cloud-iam",
      "name": "08.4 - Especialista Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        480
      ],
      "notesInFlow": true,
      "notes": "Fallback seguro para eventos Cloud IAM sem causa provavel determinada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const validation = item.json.validation ?? { is_valid: false, status: 'invalid' }; const rejection = item.json.controlled_rejection ?? null; const classification = item.json.classification ?? { probable_root_cause: rejection ? 'not_classified' : 'unknown', risk_level: 'unknown', confidence_level: 'low', classification_reason: rejection ? 'Classificacao nao executada por rejeicao controlada.' : 'Classificacao nao disponivel.' }; const specialist = item.json.specialist_analysis ?? null; const controls = item.json.security_controls ?? {}; const blocked = rejection?.rejected === true || validation.is_valid !== true; const status = blocked ? 'rejected_invalid_payload' : 'analysis_completed_prod'; const finalRecommendation = blocked ? (rejection?.next_action ?? 'Corrigir campos obrigatorios ou violacoes de seguranca antes de nova execucao.') : (specialist?.recommendation ?? 'Revisar manualmente; analise especializada nao disponivel.'); const observability = normalized.observability ?? {}; const started = observability.started_at_ms || Date.now(); const processing_time_ms = Math.max(0, Date.now() - started); const workflowName = item.json.workflow_context?.workflow_name || 'SOC-Octopus-Agent - Cloud IAM Permissao Production'; const workflowVersion = item.json.workflow_context?.workflow_version || '1.0.0'; const executionId = observability.execution_id || 'exec-' + Date.now(); const correlationId = observability.correlation_id || [normalized.case_id || 'case-missing', normalized.trace_id || 'trace-missing'].join(':'); const output = { execution_id: executionId, workflow_name: workflowName, workflow_version: workflowVersion, correlation_id: correlationId, trace_id: normalized.trace_id || rejection?.trace_id || 'not_available', case_id: normalized.case_id || rejection?.case_id || 'not_available', status, execution_status: status, input_type: normalized.input_type || 'not_available', severity: normalized.severity || 'not_available', probable_root_cause: classification.probable_root_cause, risk_level: classification.risk_level, risk_score: classification.risk_score, confidence_level: classification.confidence_level, confidence_score: classification.confidence_score, diagnosis: blocked ? rejection?.reason : (specialist?.diagnosis ?? 'Diagnostico especializado nao produzido.'), solution_recommendation: finalRecommendation, technical_steps: specialist?.technical_steps ?? [], escalation: specialist?.escalation ?? 'Revisao humana obrigatoria antes de qualquer acao.', observability: { execution_id: executionId, workflow_version: workflowVersion, processing_time_ms, correlation_id: correlationId, trace_id: normalized.trace_id || 'not_available' }, audit_timestamp: new Date().toISOString(), audit_summary: 'Workflow production ready para Cloud IAM; auditoria preparada para persistencia, SIEM sync, ticketing, cache e aprovacao humana.', human_approval: { required: true, required_for_actions: specialist?.critical_actions_need_approval ?? [], approval_status: 'pending_human_review' }, security_notes: { external_calls_allowed: controls.external_calls_allowed === true, remediation_allowed: controls.remediation_allowed === true, credentials_allowed: controls.credentials_allowed === true, production_allowed: controls.production_allowed === true, production_changes_allowed: controls.production_changes_allowed === false, human_approval_required: true, automated_action_executed: false, iam_change_executed: false, secrets_requested_or_processed: false }, validation, rejection, classification, specialist_analysis: specialist, integration_targets: { iam_idp: process.env.IAM_IDP_BASE_URL ? 'configured_by_env' : 'needs_env', siem: process.env.SIEM_BASE_URL ? 'configured_by_env' : 'needs_env', ticketing: process.env.TICKETING_BASE_URL ? 'configured_by_env' : 'needs_env', postgres: 'configured_by_credential', redis: 'configured_by_credential' } }; return { json: { case_id: output.case_id, trace_id: output.trace_id, output_ready_for_human_review: true, soc_octopus_output: output } }; });"
      },
      "id": "prod-consolidador-cloud-iam",
      "name": "09 - Consolidador Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        80
      ],
      "notesInFlow": true,
      "notes": "Consolida rejeicao, validacao, classificacao, analise especialista e controles de seguranca em saida revisavel."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.IAM_IDP_BASE_URL}}/api/v1/soc-octopus/permissions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "IAM_IDP_READONLY",
          "id": "IAM_IDP_READONLY"
        }
      },
      "id": "prod-iam-idp-sync",
      "name": "10 - IAM/IdP Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -280
      ],
      "notesInFlow": true,
      "notes": "Integracao futura read only com IAM/IdP.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SIEM_BASE_URL}}/api/v1/soc-octopus/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "SIEM_READONLY",
          "id": "SIEM_READONLY"
        }
      },
      "id": "prod-siem-sync",
      "name": "11 - SIEM Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -120
      ],
      "notesInFlow": true,
      "notes": "Integracao futura com SIEM.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.TICKETING_BASE_URL}}/api/v1/incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TICKETING_RW",
          "id": "TICKETING_RW"
        }
      },
      "id": "prod-ticketing-sync",
      "name": "12 - Ticketing Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        40
      ],
      "notesInFlow": true,
      "notes": "Integracao futura com ticketing.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO soc_audit_log (\n  event_type,\n  actor_type,\n  actor_name,\n  action,\n  details\n) VALUES (\n  $1, $2, $3, $4, $5::jsonb\n)\nRETURNING audit_uuid;",
        "options": {
          "queryReplacement": "={{ ['workflow_execution', 'n8n_workflow', $json.soc_octopus_output?.workflow_name || 'SOC-Octopus-Agent', $json.soc_octopus_output?.status || $json.soc_octopus_output?.execution_status || 'analysis_completed', JSON.stringify($json.soc_octopus_output || $json)] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "SOC_OCTOPUS_POSTGRES",
          "id": "SOC_OCTOPUS_POSTGRES"
        }
      },
      "id": "prod-postgres-audit",
      "name": "13 - Persistir Auditoria PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2520,
        220
      ],
      "notesInFlow": true,
      "notes": "Persistencia de auditoria em PostgreSQL.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.soc_octopus_output.correlation_id}}",
        "value": "={{ $json.soc_octopus_output }}"
      },
      "credentials": {
        "redis": {
          "name": "SOC_OCTOPUS_REDIS",
          "id": "SOC_OCTOPUS_REDIS"
        }
      },
      "id": "prod-redis-cache",
      "name": "14 - Cache Correlation Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2520,
        400
      ],
      "notesInFlow": true,
      "notes": "Cache e correlacao em Redis.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'iam_idp', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-iam-idp",
      "name": "10.1 - Auditoria Falha IAM/IdP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -300
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha IAM/IdP."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'siem', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-siem",
      "name": "11.1 - Auditoria Falha SIEM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -120
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha SIEM."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'ticketing', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-ticketing",
      "name": "12.1 - Auditoria Falha Ticketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        40
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Ticketing."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'postgresql', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-postgres",
      "name": "13.1 - Auditoria Falha PostgreSQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        220
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha PostgreSQL."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'redis', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-redis",
      "name": "14.1 - Auditoria Falha Redis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        400
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int-1",
      "name": "16 - Merge Integracoes 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        -200
      ],
      "notesInFlow": true,
      "notes": "Consolida IAM/IdP e SIEM."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int-2",
      "name": "17 - Merge Integracoes 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3460,
        -40
      ],
      "notesInFlow": true,
      "notes": "Consolida Ticketing com integracoes anteriores."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-persist",
      "name": "18 - Merge Persistencia",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        320
      ],
      "notesInFlow": true,
      "notes": "Consolida PostgreSQL e Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-final",
      "name": "19 - Merge Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3780,
        120
      ],
      "notesInFlow": true,
      "notes": "Consolida integracoes e persistencia antes da resposta final."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.soc_octopus_output}}"
      },
      "id": "prod-respond-cloud-iam",
      "name": "20 - Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4100,
        120
      ],
      "notesInFlow": true,
      "notes": "Resposta final ao Webhook."
    }
  ],
  "connections": {
    "01 - Webhook Ingress Production": {
      "main": [
        [
          {
            "node": "02 - Receber Evento Cloud IAM Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00 - Manual Trigger Replay": {
      "main": [
        [
          {
            "node": "02 - Receber Evento Cloud IAM Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Receber Evento Cloud IAM Production": {
      "main": [
        [
          {
            "node": "03 - Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - Normalizar Payload": {
      "main": [
        [
          {
            "node": "04 - Validar Campos Obrigatorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 - Validar Campos Obrigatorios": {
      "main": [
        [
          {
            "node": "05 - Entrada Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 - Entrada Valida?": {
      "main": [
        [
          {
            "node": "06 - Classificar Evento Cloud IAM Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05.1 - Rejeicao Controlada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05.1 - Rejeicao Controlada": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 - Classificar Evento Cloud IAM Production": {
      "main": [
        [
          {
            "node": "07 - Switch Roteamento Cloud IAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 - Switch Roteamento Cloud IAM": {
      "main": [
        [
          {
            "node": "08 - Especialista Cloud IAM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.1 - Especialista Escalada Privilegio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.2 - Especialista Identidade Cloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.3 - Especialista Drift Permissao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.4 - Especialista Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 - Especialista Cloud IAM": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.1 - Especialista Escalada Privilegio": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.2 - Especialista Identidade Cloud": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.3 - Especialista Drift Permissao": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.4 - Especialista Unknown": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 - Consolidador Final": {
      "main": [
        [
          {
            "node": "10 - IAM/IdP Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11 - SIEM Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12 - Ticketing Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13 - Persistir Auditoria PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14 - Cache Correlation Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - IAM/IdP Sync Production": {
      "main": [
        [
          {
            "node": "10.1 - Auditoria Falha IAM/IdP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10.1 - Auditoria Falha IAM/IdP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - SIEM Sync Production": {
      "main": [
        [
          {
            "node": "11.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 - Ticketing Sync Production": {
      "main": [
        [
          {
            "node": "12.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 - Persistir Auditoria PostgreSQL": {
      "main": [
        [
          {
            "node": "13.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14 - Cache Correlation Redis": {
      "main": [
        [
          {
            "node": "14.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10.1 - Auditoria Falha IAM/IdP": {
      "main": [
        [
          {
            "node": "16 - Merge Integracoes 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11.1 - Auditoria Falha SIEM": {
      "main": [
        [
          {
            "node": "16 - Merge Integracoes 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "16 - Merge Integracoes 1": {
      "main": [
        [
          {
            "node": "17 - Merge Integracoes 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12.1 - Auditoria Falha Ticketing": {
      "main": [
        [
          {
            "node": "17 - Merge Integracoes 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "13.1 - Auditoria Falha PostgreSQL": {
      "main": [
        [
          {
            "node": "18 - Merge Persistencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14.1 - Auditoria Falha Redis": {
      "main": [
        [
          {
            "node": "18 - Merge Persistencia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "17 - Merge Integracoes 2": {
      "main": [
        [
          {
            "node": "19 - Merge Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18 - Merge Persistencia": {
      "main": [
        [
          {
            "node": "19 - Merge Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "19 - Merge Final": {
      "main": [
        [
          {
            "node": "20 - Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "project": "SOC-Octopus-Agent",
    "phase": "production-ready",
    "real_ready": true,
    "production_ready": true,
    "uses_synthetic_payload": false,
    "contains_credentials": false,
    "contains_external_integrations": true,
    "contains_production_data": false,
    "human_approval_required_for_critical_actions": true,
    "validation_profile": "prod-template"
  },
  "tags": []
}
