02-workflows-n8n/soc-investigation-copilot-v1-alert-intake.json
{
  "name": "SOC Investigation Copilot - V1 Alert Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soc-investigation-copilot/alert-intake",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "01-webhook-ingress",
      "name": "01 - Webhook Alert Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WEBHOOK_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\n\nconst requiredFields = ['tenant_id', 'source', 'alert_id', 'timestamp'];\nconst missing = requiredFields.filter((field) => body[field] === undefined || body[field] === null || body[field] === '');\n\nif (missing.length > 0) {\n  return [{\n    json: {\n      valid: false,\n      error_type: 'validation_error',\n      message: 'Missing required fields',\n      missing_fields: missing,\n      received_payload: body\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    received_payload: body\n  }\n}];"
      },
      "id": "02-validate-payload",
      "name": "02 - Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "03-is-valid",
      "name": "03 - Is Payload Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { status: 'rejected', reason: $json.message, missing_fields: $json.missing_fields } }}"
      },
      "id": "04-respond-invalid",
      "name": "04 - Respond Invalid Payload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.received_payload;\nconst now = new Date();\nconst timestamp = now.toISOString();\nconst random = Math.random().toString(36).substring(2, 10);\n\nconst correlationId = payload.correlation_id || `corr-${now.getTime()}-${random}`;\nconst investigationId = `inv-${now.getTime()}-${random}`;\nconst executionId = `exec-${now.getTime()}-${random}`;\n\nconst normalized = {\n  tenant_id: payload.tenant_id || 'default',\n  source: payload.source,\n  alert_id: payload.alert_id,\n  timestamp: payload.timestamp,\n  correlation_id: correlationId,\n  investigation_id: investigationId,\n  execution_id: executionId,\n  severity_original: payload.severity || payload.rule?.level || 'unknown',\n  rule_id: payload.rule?.id || null,\n  rule_name: payload.rule?.description || null,\n  src_ip: payload.event?.src_ip || null,\n  dst_ip: payload.event?.dst_ip || payload.agent?.ip || null,\n  hostname: payload.agent?.name || payload.event?.hostname || null,\n  username: payload.event?.username || null,\n  raw_payload: payload,\n  redis_key: `soc:investigation:${payload.tenant_id || 'default'}:${payload.source}:${payload.alert_id}`,\n  received_at: timestamp\n};\n\nreturn [{ json: normalized }];"
      },
      "id": "05-normalize-alert",
      "name": "05 - Normalize Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.redis_key }}"
      },
      "id": "06-redis-check",
      "name": "06 - Redis Check Duplicate",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        -80
      ],
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_REDIS_CREDENTIAL_ID",
          "name": "Redis SOC Lab"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const current = $json;\nconst redisValue = current.value || current.data || current.result || null;\n\nreturn [{\n  json: {\n    ...current,\n    duplicate: redisValue !== null && redisValue !== undefined && redisValue !== '',\n    redis_existing_value: redisValue\n  }\n}];"
      },
      "id": "07-normalize-redis-result",
      "name": "07 - Normalize Redis Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.duplicate }}",
              "value2": true
            }
          ]
        }
      },
      "id": "08-is-duplicate",
      "name": "08 - Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ { status: 'duplicate', accepted: false, alert_id: $json.alert_id, correlation_id: $json.correlation_id, redis_key: $json.redis_key } }}"
      },
      "id": "09-respond-duplicate",
      "name": "09 - Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1820,
        120
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.redis_key }}",
        "value": "={{ { alert_id: $json.alert_id, correlation_id: $json.correlation_id, processed_at: $json.received_at } }}",
        "expire": true,
        "ttl": 3600
      },
      "id": "10-redis-store",
      "name": "10 - Redis Store Dedup Key",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1820,
        -180
      ],
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_REDIS_CREDENTIAL_ID",
          "name": "Redis SOC Lab"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO soc_alerts (\n  tenant_id,\n  alert_id,\n  source,\n  correlation_id,\n  severity_original,\n  rule_id,\n  rule_name,\n  src_ip,\n  dst_ip,\n  hostname,\n  username,\n  event_timestamp,\n  raw_payload\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13::jsonb\n)\nON CONFLICT (tenant_id, source, alert_id)\nDO NOTHING\nRETURNING alert_uuid, alert_id, correlation_id;",
        "options": {
          "queryReplacement": "={{ [$json.tenant_id, $json.alert_id, $json.source, $json.correlation_id, $json.severity_original, $json.rule_id, $json.rule_name, $json.src_ip, $json.dst_ip, $json.hostname, $json.username, $json.timestamp, JSON.stringify($json.raw_payload)] }}"
        }
      },
      "id": "11-postgres-insert-alert",
      "name": "11 - PostgreSQL Insert Alert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2080,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL SOC Lab"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'accepted',\n    accepted: true,\n    duplicate: false,\n    tenant_id: $json.tenant_id,\n    source: $json.source,\n    alert_id: $json.alert_id,\n    correlation_id: $json.correlation_id,\n    investigation_id: $json.investigation_id,\n    redis_key: $json.redis_key,\n    next_stage: 'ai_analysis_pending',\n    production_status: 'mock_intake_completed'\n  }\n}];"
      },
      "id": "12-build-response",
      "name": "12 - Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        -180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ $json }}"
      },
      "id": "13-respond-accepted",
      "name": "13 - Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2600,
        -180
      ]
    }
  ],
  "connections": {
    "01 - Webhook Alert Intake": {
      "main": [
        [
          {
            "node": "02 - Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Validate Payload": {
      "main": [
        [
          {
            "node": "03 - Is Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - Is Payload Valid?": {
      "main": [
        [
          {
            "node": "05 - Normalize Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04 - Respond Invalid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 - Normalize Alert": {
      "main": [
        [
          {
            "node": "06 - Redis Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 - Redis Check Duplicate": {
      "main": [
        [
          {
            "node": "07 - Normalize Redis Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "07 - Normalize Redis Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 - Normalize Redis Result": {
      "main": [
        [
          {
            "node": "08 - Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 - Is Duplicate?": {
      "main": [
        [
          {
            "node": "09 - Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10 - Redis Store Dedup Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - Redis Store Dedup Key": {
      "main": [
        [
          {
            "node": "11 - PostgreSQL Insert Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11 - PostgreSQL Insert Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - PostgreSQL Insert Alert": {
      "main": [
        [
          {
            "node": "12 - Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12 - Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 - Build Response": {
      "main": [
        [
          {
            "node": "13 - Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "pinData": {},
  "active": false,
  "versionId": "soc-investigation-copilot-v1-alert-intake",
  "meta": {
    "project": "SOC Investigation Copilot",
    "phase": "Workflow 01 - Alert Intake",
    "status": "mock-ready",
    "production_readiness": "not-approved",
    "validation_profile": "lab-template"
  }
}
