02-workflows-n8n/soc-octopus-pergunta-vulnerabilidade-mock.json
{
  "name": "SOC-Octopus-Agent - Pergunta Vulnerabilidade Production",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soc-octopus/pergunta-vulnerabilidade",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "noResponseBody": false
        },
        "authentication": "headerAuth"
      },
      "id": "prod-webhook-vuln",
      "name": "01 - Webhook Ingress Production",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -220
      ],
      "notesInFlow": true,
      "notes": "Entrada de producao via webhook. Placeholders de autenticacao esperados: X-API-Key, Authorization Bearer e HMAC Signature.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WEBHOOK_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "prod-manual-trigger-vuln",
      "name": "00 - Manual Trigger Replay",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notesInFlow": true,
      "notes": "Inicio manual de replay. Workflow permanece inativo e sem gatilho externo."
    },
    {
      "parameters": {
        "jsCode": "const incoming = items[0]?.json ?? {}; const hasIncomingPayload = Object.keys(incoming).length > 0 && Object.keys(incoming).some((key) => key !== 'executionMode'); const payload = incoming.payload ?? incoming.body ?? incoming ?? {}; const executionId = 'exec-' + Date.now(); const traceId = payload.trace_id || 'trace-missing'; const caseId = payload.case_id || 'case-missing'; return [{ json: { payload, workflow_context: { workflow_mode: 'production_ready', environment: 'production', source: hasIncomingPayload ? 'incoming_payload' : 'manual_trigger_empty_payload', generated_at: new Date().toISOString(), workflow_name: 'SOC-Octopus-Agent - Pergunta Vulnerabilidade Production', workflow_version: '1.0.0', observability: { started_at_ms: Date.now(), execution_id: executionId, correlation_id: [caseId, traceId].join(':'), trace_id: traceId }, auth_placeholders: { x_api_key: incoming.headers?.['x-api-key'] ?? '{{X-API-Key}}', authorization_bearer: incoming.headers?.authorization ?? '{{Authorization Bearer}}', hmac_signature: incoming.headers?.['x-hmac-signature'] ?? '{{HMAC Signature}}' } }, security_controls: { external_calls_allowed: false, remediation_allowed: false, credentials_allowed: false, production_allowed: false, production_changes_allowed: false, human_approval_required: true } } }];"
      },
      "id": "prod-receber-vuln",
      "name": "02 - Receber Pergunta Vulnerabilidade Production",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "notesInFlow": true,
      "notes": "Recebe payload do webhook ou replay manual e prepara contexto de execucao."
    },
    {
      "parameters": {
        "jsCode": "function text(value) { return value === undefined || value === null ? '' : String(value).trim(); } function lower(value) { return text(value).toLowerCase(); } function bool(value) { return value === true || value === 'true'; } function parseSummary(summary) { const entities = {}; for (const part of text(summary).split(';')) { const pieces = part.split('='); const key = text(pieces.shift()); const value = text(pieces.join('=')); if (key && value) entities[key] = value; } return entities; } function list(value) { if (Array.isArray(value)) return value.map(text).filter(Boolean); return text(value).split(/[;,]/).map(text).filter(Boolean); } return items.map((item) => { const payload = item.json.payload ?? {}; const entities = payload.entities && typeof payload.entities === 'object' && !Array.isArray(payload.entities) ? payload.entities : parseSummary(payload.entities_summary); const question = text(payload.question_text || payload.question || payload.description); const evidence = list(payload.evidence || payload.evidence_summary); const vulnerability = text(payload.vulnerability || entities.vulnerability); const service = text(payload.service || entities.service); const exposure = lower(payload.exposure || entities.exposure); const normalized = { case_id: text(payload.case_id), trace_id: text(payload.trace_id), input_type: lower(payload.input_type), source_system: text(payload.source_system), received_at: text(payload.received_at), severity: lower(payload.severity), title: text(payload.title), description: text(payload.description), question_text: question, classification_hint: lower(payload.classification_hint), entities, vulnerability_context: { vulnerability, host: text(payload.host || entities.host), service, exposure, asset_criticality: lower(payload.asset_criticality || entities.asset_criticality || 'unknown'), cvss_available: bool(payload.cvss_available), exploit_seen: bool(payload.exploit_seen), patch_available: bool(payload.patch_available), maintenance_window_known: bool(payload.maintenance_window_known) }, evidence, flags: { synthetic_payload: bool(payload.synthetic_payload), contains_real_customer_data: bool(payload.contains_real_customer_data), contains_credentials: bool(payload.contains_credentials), human_approval_required_for_action: bool(payload.human_approval_required_for_action) } }; return { json: { ...item.json, normalized, processing_stage: 'normalization', normalization_status: 'completed' } }; });"
      },
      "id": "prod-normalizar-vuln",
      "name": "03 - Normalizar Pergunta Vulnerabilidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "notesInFlow": true,
      "notes": "Normaliza pergunta, entidades, contexto de vulnerabilidade e evidencias."
    },
    {
      "parameters": {
        "jsCode": "const allowedInputTypes = new Set(['question', 'ticket', 'soc_alert']); const allowedSeverities = new Set(['low', 'medium', 'high', 'critical']); const requiredFields = ['case_id', 'trace_id', 'input_type', 'severity', 'title', 'description']; return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.vulnerability_context ?? {}; const flags = normalized.flags ?? {}; const missing_fields = requiredFields.filter((field) => !normalized[field]); const invalid_fields = []; if (normalized.input_type && !allowedInputTypes.has(normalized.input_type)) invalid_fields.push('input_type'); if (normalized.severity && !allowedSeverities.has(normalized.severity)) invalid_fields.push('severity'); if (!normalized.question_text) invalid_fields.push('question_text'); if (!context.vulnerability && !context.service && !context.host) invalid_fields.push('vulnerability_context'); const controls = item.json.security_controls ?? {}; const security_violations = []; if (flags.contains_real_customer_data) security_violations.push('contains_real_customer_data'); if (flags.contains_credentials) security_violations.push('contains_credentials'); if (controls.external_calls_allowed) security_violations.push('external_calls_allowed'); if (controls.credentials_allowed) security_violations.push('credentials_allowed'); if (controls.production_allowed) security_violations.push('production_allowed'); if (controls.remediation_allowed) security_violations.push('remediation_allowed'); if (controls.database_allowed) security_violations.push('database_allowed'); if (controls.redis_allowed) security_violations.push('redis_allowed'); const is_valid = missing_fields.length === 0 && invalid_fields.length === 0 && security_violations.length === 0; return { json: { ...item.json, processing_stage: 'validation', validation: { is_valid, status: is_valid ? 'valid' : 'invalid', required_fields: requiredFields, missing_fields, invalid_fields, security_violations, validation_notes: is_valid ? 'Pergunta de vulnerabilidade aceita para producao controlada.' : 'Pergunta bloqueada antes de classificacao.' } } }; });"
      },
      "id": "prod-validar-vuln",
      "name": "04 - Validar Campos Obrigatorios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ],
      "notesInFlow": true,
      "notes": "Valida campos minimos, contexto tecnico e controles de seguranca."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"validation\"][\"is_valid\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "prod-if-vuln",
      "name": "05 - Entrada Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "notesInFlow": true,
      "notes": "Separa pergunta valida de rejeicao controlada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const validation = item.json.validation ?? {}; return { json: { ...item.json, processing_stage: 'controlled_rejection', controlled_rejection: { rejected: true, reason: 'Pergunta de vulnerabilidade invalida ou bloqueada por controles de seguranca.', missing_fields: validation.missing_fields ?? [], invalid_fields: validation.invalid_fields ?? [], security_violations: validation.security_violations ?? [], case_id: normalized.case_id || 'not_available', trace_id: normalized.trace_id || 'not_available', next_action: 'Corrigir payload e reexecutar manualmente em ambiente controlado.', automated_action_executed: false } } }; });"
      },
      "id": "prod-rejeicao-controlada-vuln",
      "name": "05.1 - Rejeicao Controlada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        260
      ],
      "notesInFlow": true,
      "notes": "Trata pergunta invalida sem executar acao externa."
    },
    {
      "parameters": {
        "jsCode": "function includesAny(text, terms) { return terms.some((term) => text.includes(term)); } function baseRisk(severity, context) { if (context.exploit_seen) return 'critical'; if (severity === 'critical') return 'critical'; if (severity === 'high') return 'high'; if (context.exposure === 'internet_facing' && (context.vulnerability || context.service)) return 'high'; if (severity === 'medium') return 'medium'; return 'low'; } const routeTerms = [ { route: 'vulnerability', terms: ['vulnerability', 'vulnerabilidade', 'cve', 'cvss', 'priorizacao', 'priorizar'] }, { route: 'exposed_service', terms: ['exposto', 'internet_facing', 'internet', 'publico', 'public-facing', 'servico exposto', 'web'] }, { route: 'patch_planning', terms: ['patch', 'janela', 'atualizacao', 'reinicio', 'correcao', 'remediacao'] }, { route: 'configuration_risk', terms: ['configuracao', 'hardening', 'baseline', 'porta aberta', 'misconfiguration', 'config'] } ]; const specialistsByRoute = { vulnerability: ['vulnerabilidades', 'infraestrutura_plataformas', 'solucao_remediacao', 'consolidador'], exposed_service: ['exposicao_servico', 'rede', 'vulnerabilidades', 'consolidador'], patch_planning: ['planejamento_patch', 'infraestrutura_plataformas', 'gestao_mudanca', 'consolidador'], configuration_risk: ['hardening_configuracao', 'infraestrutura_plataformas', 'consolidador'], unknown: ['triagem_soc', 'consolidador'] }; return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.vulnerability_context ?? {}; const corpus = [normalized.classification_hint, normalized.title, normalized.description, normalized.question_text, JSON.stringify(normalized.entities ?? {}), JSON.stringify(context), (normalized.evidence ?? []).join(' ')].join(' ').toLowerCase(); let probable_root_cause = 'unknown'; let confidence_level = 'low'; let classification_reason = 'Nenhuma regra local identificou rota especifica para a pergunta.'; const directRoutes = new Set(['vulnerability', 'exposed_service', 'patch_planning', 'configuration_risk', 'unknown']); if (directRoutes.has(normalized.classification_hint)) { probable_root_cause = normalized.classification_hint; confidence_level = probable_root_cause === 'unknown' ? 'low' : 'high'; classification_reason = 'classification_hint indicou rota ' + probable_root_cause + '.'; } else { const matched = routeTerms.find((rule) => includesAny(corpus, rule.terms)); if (matched) { probable_root_cause = matched.route; confidence_level = 'medium'; classification_reason = 'Regras locais identificaram contexto ' + matched.route + '.'; } } const risk_level = baseRisk(normalized.severity, context); const possible_false_positive = normalized.evidence.length === 0 || !context.cvss_available; return { json: { ...item.json, processing_stage: 'classification', classification: { probable_root_cause, routing_key: probable_root_cause, risk_level, confidence_level, classification_reason, false_positive_assessment: possible_false_positive ? 'possible_or_context_incomplete' : 'not_indicated_by_lab_rules', possible_false_positive, specialists_recommended: specialistsByRoute[probable_root_cause] ?? specialistsByRoute.unknown } } }; });"
      },
      "id": "prod-classificar-vuln",
      "name": "06 - Classificar Pergunta Vulnerabilidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -120
      ],
      "notesInFlow": true,
      "notes": "Classifica a pergunta usando regras locais de producao controlada."
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "vulnerability",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vulnerability"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "exposed_service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exposed_service"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "patch_planning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "patch_planning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "configuration_risk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "configuration_risk"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown",
          "ignoreCase": true
        }
      },
      "id": "prod-switch-vuln",
      "name": "07 - Switch Roteamento Vulnerabilidade",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1560,
        -140
      ],
      "notesInFlow": true,
      "notes": "Roteia para especialistas locais sem consulta externa."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.vulnerability_context ?? {}; return { json: { ...item.json, processing_stage: 'vulnerability_specialist', specialist_analysis: { specialist: 'vulnerability', diagnosis: 'Pergunta exige priorizacao de vulnerabilidade com contexto incompleto e sem enriquecimento externo.', evidence_considered: normalized.evidence ?? [], affected_entities: { host: context.host || 'host_nao_informado', service: context.service || 'servico_nao_informado', vulnerability: context.vulnerability || 'vulnerabilidade_nao_informada', exposure: context.exposure || 'exposicao_nao_informada' }, recommendation: 'Priorizar pela exposicao, criticidade do ativo, explorabilidade conhecida internamente e disponibilidade de janela de correcao, sem executar patch automaticamente.', technical_steps: ['Confirmar escopo do ativo e proprietario do servico.', 'Validar exposicao e criticidade do ativo em fonte autorizada quando disponivel.', 'Coletar CVSS, EPSS ou inteligencia de exploracao apenas em etapa futura autorizada.', 'Definir prioridade e proposta de remediacao para aprovacao humana.'], escalation: 'Escalonar para equipe de Vulnerabilidades se a exposicao for confirmada ou o ativo for critico.', critical_actions_need_approval: ['aplicacao_de_patch', 'reinicio_de_servico', 'alteracao_de_configuracao', 'janela_de_mudanca'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-vulnerabilidade",
      "name": "08 - Especialista Vulnerabilidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -360
      ],
      "notesInFlow": true,
      "notes": "Analise local de priorizacao sem scanner real ou IA externa."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.vulnerability_context ?? {}; return { json: { ...item.json, processing_stage: 'exposed_service_specialist', specialist_analysis: { specialist: 'exposed_service', diagnosis: 'Vulnerabilidade associada a servico exposto ou potencialmente acessivel em producao controlada.', evidence_considered: normalized.evidence ?? [], affected_entities: { host: context.host || 'host_nao_informado', service: context.service || 'servico_nao_informado', exposure: context.exposure || 'exposicao_nao_informada' }, recommendation: 'Tratar exposicao como fator de aumento de prioridade, mas validar alcance e impacto antes de qualquer mudanca.', technical_steps: ['Confirmar se o servico esta exposto no escopo do caso.', 'Verificar dependencia de negocio e proprietario do servico.', 'Avaliar mitigacao temporaria sem aplicar bloqueios automaticamente.', 'Encaminhar bloqueio, hardening ou patch para aprovacao humana.'], escalation: 'Escalonar para Rede/Plataforma se houver servico exposto com alto impacto.', critical_actions_need_approval: ['bloqueio_de_porta', 'alteracao_de_firewall', 'despublicacao_de_servico', 'patch_em_servico_exposto'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-exposicao",
      "name": "08.1 - Especialista Servico Exposto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -200
      ],
      "notesInFlow": true,
      "notes": "Analise local de exposicao sem firewall real ou inventario produtivo."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.vulnerability_context ?? {}; return { json: { ...item.json, processing_stage: 'patch_planning_specialist', specialist_analysis: { specialist: 'patch_planning', diagnosis: 'Pergunta envolve planejamento de correcao, janela de mudanca ou reinicio de servico.', evidence_considered: normalized.evidence ?? [], affected_entities: { host: context.host || 'host_nao_informado', service: context.service || 'servico_nao_informado', patch_available: context.patch_available === true, maintenance_window_known: context.maintenance_window_known === true }, recommendation: 'Preparar plano de patch com validacao de impacto, rollback e aprovacao humana antes de execucao.', technical_steps: ['Confirmar disponibilidade de patch em fonte autorizada na etapa apropriada.', 'Identificar dependencia e impacto do reinicio.', 'Definir janela de mudanca e plano de rollback.', 'Submeter execucao para aprovacao humana e gestao de mudanca.'], escalation: 'Escalonar para Infraestrutura/Plataforma e Change Management se houver patch com impacto operacional.', critical_actions_need_approval: ['aplicacao_de_patch', 'reinicio_de_servico', 'rollback', 'mudanca_em_producao'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-patch",
      "name": "08.2 - Especialista Planejamento Patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -40
      ],
      "notesInFlow": true,
      "notes": "Planejamento local de patch sem executar remediacao."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.vulnerability_context ?? {}; return { json: { ...item.json, processing_stage: 'configuration_risk_specialist', specialist_analysis: { specialist: 'configuration_risk', diagnosis: 'Pergunta sugere risco de configuracao, hardening ou baseline associado a vulnerabilidade.', evidence_considered: normalized.evidence ?? [], affected_entities: { host: context.host || 'host_nao_informado', service: context.service || 'servico_nao_informado', exposure: context.exposure || 'exposicao_nao_informada' }, recommendation: 'Validar baseline e configuracao esperada antes de propor ajuste, sem alterar configuracao automaticamente.', technical_steps: ['Comparar configuracao observada com baseline aprovado em etapa futura autorizada.', 'Identificar controle compensatorio possivel sem execucao automatica.', 'Avaliar risco de indisponibilidade por hardening.', 'Encaminhar ajuste para aprovacao humana.'], escalation: 'Escalonar para Infraestrutura/Hardening se o risco de configuracao for confirmado.', critical_actions_need_approval: ['alteracao_de_configuracao', 'hardening_de_servico', 'fechamento_de_porta', 'mudanca_de_baseline'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-configuracao",
      "name": "08.3 - Especialista Risco Configuracao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        120
      ],
      "notesInFlow": true,
      "notes": "Analise local de configuracao sem alterar servicos."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; return { json: { ...item.json, processing_stage: 'unknown_specialist', specialist_analysis: { specialist: 'unknown', diagnosis: 'Pergunta de vulnerabilidade nao roteada por regra local especifica.', evidence_considered: normalized.evidence ?? [], affected_entities: normalized.vulnerability_context ?? {}, recommendation: 'Manter revisao humana e solicitar contexto adicional antes de decidir prioridade ou acao.', technical_steps: ['Revisar pergunta e contexto normalizado.', 'Solicitar dados de ativo, exposicao, criticidade e evidencia tecnica.', 'Reexecutar com classification_hint especifico se apropriado.', 'Nao executar remediacao automatica.'], escalation: 'Escalonar para triagem SOC humana.', critical_actions_need_approval: ['qualquer_acao_critica'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-unknown",
      "name": "08.4 - Especialista Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        280
      ],
      "notesInFlow": true,
      "notes": "Fallback seguro para pergunta nao classificada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const validation = item.json.validation ?? { is_valid: false, status: 'invalid' }; const rejection = item.json.controlled_rejection ?? null; const classification = item.json.classification ?? { probable_root_cause: rejection ? 'not_classified' : 'unknown', risk_level: 'unknown', confidence_level: 'low', classification_reason: rejection ? 'Classificacao nao executada por rejeicao controlada.' : 'Classificacao nao disponivel.' }; const specialist = item.json.specialist_analysis ?? null; const controls = item.json.security_controls ?? {}; const blocked = rejection?.rejected === true || validation.is_valid !== true; const status = blocked ? 'rejected_invalid_payload' : 'analysis_completed_prod'; const diagnosis = blocked ? rejection?.reason : (specialist?.diagnosis ?? 'Diagnostico especializado nao produzido.'); const solution_recommendation = blocked ? (rejection?.next_action ?? 'Corrigir payload antes de nova execucao.') : (specialist?.recommendation ?? 'Revisao humana obrigatoria.'); const output = { execution_id: normalized.observability?.execution_id || 'exec-' + Date.now(), workflow_name: item.json.workflow_context?.workflow_name || 'SOC-Octopus-Agent - Pergunta Vulnerabilidade Production', workflow_version: item.json.workflow_context?.workflow_version || '1.0.0', correlation_id: item.json.workflow_context?.observability?.correlation_id || [normalized.case_id || 'case-missing', normalized.trace_id || 'trace-missing'].join(':'), trace_id: normalized.trace_id || rejection?.trace_id || 'not_available', case_id: normalized.case_id || rejection?.case_id || 'not_available', status, execution_status: status, input_type: normalized.input_type || 'not_available', severity: normalized.severity || 'not_available', probable_root_cause: classification.probable_root_cause, risk_level: classification.risk_level, risk_score: classification.risk_score, confidence_level: classification.confidence_level, confidence_score: classification.confidence_score, diagnosis, solution_recommendation, technical_steps: specialist?.technical_steps ?? [], escalation: specialist?.escalation ?? 'Revisao humana obrigatoria antes de qualquer acao.', security_notes: { external_calls_allowed: controls.external_calls_allowed === true, credentials_allowed: controls.credentials_allowed === true, production_allowed: controls.production_allowed === true, remediation_allowed: controls.remediation_allowed === true, database_allowed: controls.database_allowed === true, redis_allowed: controls.redis_allowed === true, automated_action_executed: false, human_approval_required: true }, human_approval: { required: true, approval_status: 'pending_human_review', required_for_actions: specialist?.critical_actions_need_approval ?? [] }, audit_summary: 'Workflow production ready para pergunta de vulnerabilidade; auditoria preparada para persistencia, SIEM sync, ticketing, cache e aprovacao humana.' }; return { json: { case_id: output.case_id, trace_id: output.trace_id, output_ready_for_human_review: true, soc_octopus_output: output } }; });"
      },
      "id": "prod-consolidador-vuln",
      "name": "09 - Consolidador Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ],
      "notesInFlow": true,
      "notes": "Consolida validacao, classificacao, analise especialista e controles em saida revisavel."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.VULN_MGMT_BASE_URL}}/api/v1/recommendations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "VULN_MGMT_READONLY",
          "id": "VULN_MGMT_READONLY"
        }
      },
      "id": "prod-vuln-mgmt-sync",
      "name": "10 - Vulnerability Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -280
      ],
      "notesInFlow": true,
      "notes": "Integracao futura read only com plataforma de vulnerabilidades.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SIEM_BASE_URL}}/api/v1/soc-octopus/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "SIEM_READONLY",
          "id": "SIEM_READONLY"
        }
      },
      "id": "prod-siem-sync",
      "name": "11 - SIEM Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -120
      ],
      "notesInFlow": true,
      "notes": "Integracao futura com SIEM.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.TICKETING_BASE_URL}}/api/v1/incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TICKETING_RW",
          "id": "TICKETING_RW"
        }
      },
      "id": "prod-ticketing-sync",
      "name": "12 - Ticketing Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        40
      ],
      "notesInFlow": true,
      "notes": "Integracao futura com ticketing.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO soc_audit_log (\n  event_type,\n  actor_type,\n  actor_name,\n  action,\n  details\n) VALUES (\n  $1, $2, $3, $4, $5::jsonb\n)\nRETURNING audit_uuid;",
        "options": {
          "queryReplacement": "={{ ['workflow_execution', 'n8n_workflow', $json.soc_octopus_output?.workflow_name || 'SOC-Octopus-Agent', $json.soc_octopus_output?.status || $json.soc_octopus_output?.execution_status || 'analysis_completed', JSON.stringify($json.soc_octopus_output || $json)] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "SOC_OCTOPUS_POSTGRES",
          "id": "SOC_OCTOPUS_POSTGRES"
        }
      },
      "id": "prod-postgres-audit",
      "name": "13 - Persistir Auditoria PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2520,
        220
      ],
      "notesInFlow": true,
      "notes": "Persistencia de auditoria em PostgreSQL.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.soc_octopus_output.correlation_id}}",
        "value": "={{ $json.soc_octopus_output }}"
      },
      "credentials": {
        "redis": {
          "name": "SOC_OCTOPUS_REDIS",
          "id": "SOC_OCTOPUS_REDIS"
        }
      },
      "id": "prod-redis-cache",
      "name": "14 - Cache Correlation Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2520,
        400
      ],
      "notesInFlow": true,
      "notes": "Cache e correlacao em Redis.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'vulnerability_mgmt', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-vuln",
      "name": "10.1 - Auditoria Falha Vulnerability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -280
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Vulnerability."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'siem', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-siem",
      "name": "11.1 - Auditoria Falha SIEM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -120
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha SIEM."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'ticketing', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-ticketing",
      "name": "12.1 - Auditoria Falha Ticketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        40
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Ticketing."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'postgresql', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-postgres",
      "name": "13.1 - Auditoria Falha PostgreSQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        220
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha PostgreSQL."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'redis', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-redis",
      "name": "14.1 - Auditoria Falha Redis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        400
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int-1",
      "name": "15 - Merge Integracoes 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        -220
      ],
      "notesInFlow": true,
      "notes": "Consolida Vulnerability Sync e SIEM."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int-2",
      "name": "16 - Merge Integracoes 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3460,
        -40
      ],
      "notesInFlow": true,
      "notes": "Consolida Ticketing com integracoes anteriores."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-persist",
      "name": "17 - Merge Persistencia",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        320
      ],
      "notesInFlow": true,
      "notes": "Consolida PostgreSQL e Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-final",
      "name": "18 - Merge Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3780,
        120
      ],
      "notesInFlow": true,
      "notes": "Consolida integracoes e persistencia antes da resposta final."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.soc_octopus_output}}"
      },
      "id": "prod-respond-vuln",
      "name": "19 - Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4100,
        120
      ],
      "notesInFlow": true,
      "notes": "Resposta final ao Webhook."
    }
  ],
  "connections": {
    "01 - Webhook Ingress Production": {
      "main": [
        [
          {
            "node": "02 - Receber Pergunta Vulnerabilidade Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00 - Manual Trigger Replay": {
      "main": [
        [
          {
            "node": "02 - Receber Pergunta Vulnerabilidade Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Receber Pergunta Vulnerabilidade Production": {
      "main": [
        [
          {
            "node": "03 - Normalizar Pergunta Vulnerabilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - Normalizar Pergunta Vulnerabilidade": {
      "main": [
        [
          {
            "node": "04 - Validar Campos Obrigatorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 - Validar Campos Obrigatorios": {
      "main": [
        [
          {
            "node": "05 - Entrada Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 - Entrada Valida?": {
      "main": [
        [
          {
            "node": "06 - Classificar Pergunta Vulnerabilidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05.1 - Rejeicao Controlada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05.1 - Rejeicao Controlada": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 - Classificar Pergunta Vulnerabilidade": {
      "main": [
        [
          {
            "node": "07 - Switch Roteamento Vulnerabilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 - Switch Roteamento Vulnerabilidade": {
      "main": [
        [
          {
            "node": "08 - Especialista Vulnerabilidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.1 - Especialista Servico Exposto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.2 - Especialista Planejamento Patch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.3 - Especialista Risco Configuracao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.4 - Especialista Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 - Especialista Vulnerabilidade": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.1 - Especialista Servico Exposto": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.2 - Especialista Planejamento Patch": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.3 - Especialista Risco Configuracao": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.4 - Especialista Unknown": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 - Consolidador Final": {
      "main": [
        [
          {
            "node": "10 - Vulnerability Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11 - SIEM Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12 - Ticketing Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13 - Persistir Auditoria PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14 - Cache Correlation Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - Vulnerability Sync Production": {
      "main": [
        [
          {
            "node": "10.1 - Auditoria Falha Vulnerability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10.1 - Auditoria Falha Vulnerability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - SIEM Sync Production": {
      "main": [
        [
          {
            "node": "11.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 - Ticketing Sync Production": {
      "main": [
        [
          {
            "node": "12.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 - Persistir Auditoria PostgreSQL": {
      "main": [
        [
          {
            "node": "13.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14 - Cache Correlation Redis": {
      "main": [
        [
          {
            "node": "14.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10.1 - Auditoria Falha Vulnerability": {
      "main": [
        [
          {
            "node": "15 - Merge Integracoes 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11.1 - Auditoria Falha SIEM": {
      "main": [
        [
          {
            "node": "15 - Merge Integracoes 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "15 - Merge Integracoes 1": {
      "main": [
        [
          {
            "node": "16 - Merge Integracoes 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12.1 - Auditoria Falha Ticketing": {
      "main": [
        [
          {
            "node": "16 - Merge Integracoes 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "13.1 - Auditoria Falha PostgreSQL": {
      "main": [
        [
          {
            "node": "17 - Merge Persistencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14.1 - Auditoria Falha Redis": {
      "main": [
        [
          {
            "node": "17 - Merge Persistencia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "16 - Merge Integracoes 2": {
      "main": [
        [
          {
            "node": "18 - Merge Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17 - Merge Persistencia": {
      "main": [
        [
          {
            "node": "18 - Merge Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "18 - Merge Final": {
      "main": [
        [
          {
            "node": "19 - Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "project": "SOC-Octopus-Agent",
    "phase": "production-ready",
    "real_ready": true,
    "production_ready": true,
    "uses_synthetic_payload": false,
    "contains_credentials": false,
    "contains_external_integrations": true,
    "contains_production_data": false,
    "human_approval_required_for_critical_actions": true,
    "validation_profile": "prod-template"
  },
  "tags": []
}
