02-workflows-n8n/soc-octopus-ticket-vpn-mfa-mock.json
{
  "name": "SOC-Octopus-Agent - Ticket VPN MFA Production",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soc-octopus/ticket-vpn-mfa",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "noResponseBody": false
        },
        "authentication": "headerAuth"
      },
      "id": "prod-webhook-ticket-vpn-mfa",
      "name": "01 - Webhook Ingress Production",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -220
      ],
      "notesInFlow": true,
      "notes": "Entrada de producao via webhook. Placeholders de autenticacao esperados: X-API-Key, Authorization Bearer e HMAC Signature.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WEBHOOK_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "prod-manual-trigger-ticket-vpn-mfa",
      "name": "00 - Manual Trigger Replay",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notesInFlow": true,
      "notes": "Inicio manual de replay. Workflow permanece inativo e sem gatilho externo."
    },
    {
      "parameters": {
        "jsCode": "const incoming = items[0]?.json ?? {};\nconst hasIncomingPayload = Object.keys(incoming).length > 0 && Object.keys(incoming).some((key) => key !== 'executionMode');\nconst payload = incoming.payload ?? incoming.body ?? incoming ?? {};\nconst executionId = 'exec-' + Date.now();\nconst traceId = payload.trace_id || 'trace-missing';\nconst caseId = payload.case_id || 'case-missing';\nreturn [{\n  json: {\n    payload,\n    workflow_context: {\n      workflow_mode: 'production_ready',\n      environment: 'production',\n      source: hasIncomingPayload ? 'incoming_payload' : 'manual_trigger_empty_payload',\n      generated_at: new Date().toISOString(),\n      workflow_name: 'SOC-Octopus-Agent - Ticket VPN MFA Production',\n      workflow_version: '1.0.0',\n      observability: {\n        started_at_ms: Date.now(),\n        execution_id: executionId,\n        correlation_id: [caseId, traceId].join(':'),\n        trace_id: traceId\n      },\n      auth_placeholders: {\n        x_api_key: incoming.headers?.['x-api-key'] ?? '{{X-API-Key}}',\n        authorization_bearer: incoming.headers?.authorization ?? '{{Authorization Bearer}}',\n        hmac_signature: incoming.headers?.['x-hmac-signature'] ?? '{{HMAC Signature}}'\n      }\n    },\n    security_controls: {\n      external_calls_allowed: false,\n      remediation_allowed: false,\n      credentials_allowed: false,\n      production_allowed: false,\n      production_changes_allowed: false,\n      human_approval_required: true\n    }\n  }\n}];"
      },
      "id": "prod-receber-ticket",
      "name": "02 - Receber Ticket Production",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "notesInFlow": true,
      "notes": "Recebe payload do gatilho manual ou do webhook e prepara contexto de execucao sem gerar dado sintetico."
    },
    {
      "parameters": {
        "jsCode": "function asText(value) {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n}\nfunction asBool(value) {\n  return value === true || value === 'true';\n}\nfunction parseEntities(payload) {\n  if (payload.entities && typeof payload.entities === 'object' && !Array.isArray(payload.entities)) return payload.entities;\n  const summary = asText(payload.entities_summary);\n  const result = {};\n  for (const part of summary.split(';')) {\n    const [key, ...rest] = part.split('=');\n    if (key && rest.length) result[key.trim()] = rest.join('=').trim();\n  }\n  return result;\n}\nfunction normalizeEvidence(payload) {\n  if (Array.isArray(payload.evidence)) return payload.evidence.map(asText).filter(Boolean);\n  const evidence = asText(payload.evidence_summary || payload.evidence);\n  return evidence ? [evidence] : [];\n}\nreturn items.map((item) => {\n  const payload = item.json.payload ?? {};\n  const entities = parseEntities(payload);\n  const normalized = {\n    case_id: asText(payload.case_id),\n    trace_id: asText(payload.trace_id),\n    input_type: asText(payload.input_type).toLowerCase(),\n    source_system: asText(payload.source_system),\n    received_at: asText(payload.received_at),\n    severity: asText(payload.severity).toLowerCase(),\n    title: asText(payload.title),\n    description: asText(payload.description),\n    classification_hint: asText(payload.classification_hint).toLowerCase(),\n    entities,\n    evidence: normalizeEvidence(payload),\n    ticket_context: {\n      service: asText(payload.service || entities.service).toLowerCase(),\n      user: asText(payload.user || entities.user),\n      host: asText(payload.host || entities.host),\n      source_ip: asText(payload.source_ip || entities.source_ip),\n      requester_validated: asBool(payload.requester_validated) || asBool(entities.requester_validated),\n      mfa_device_status: asText(payload.mfa_device_status || entities.mfa_device_status).toLowerCase()\n    },\n    flags: {\n      synthetic_payload: asBool(payload.synthetic_payload),\n      contains_real_customer_data: asBool(payload.contains_real_customer_data),\n      contains_credentials: asBool(payload.contains_credentials),\n      human_approval_required_for_action: asBool(payload.human_approval_required_for_action)\n    }\n  };\n  return { json: { ...item.json, normalized, processing_stage: 'normalization', normalization_status: 'completed' } };\n});"
      },
      "id": "prod-normalizar-payload",
      "name": "03 - Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "notesInFlow": true,
      "notes": "Normaliza campos de ticket, entidades, evidencias e contexto VPN/MFA."
    },
    {
      "parameters": {
        "jsCode": "const allowedInputTypes = new Set(['ticket', 'incident', 'request']);\nconst allowedSeverities = new Set(['low', 'medium', 'high', 'critical']);\nconst requiredFields = ['case_id', 'trace_id', 'input_type', 'severity', 'title', 'description'];\nconst credentialPattern = /(password|passwd|senha|token|secret|client_secret|authorization|bearer)s*[:=]/i;\nreturn items.map((item) => {\n  const normalized = item.json.normalized ?? {};\n  const ticket = normalized.ticket_context ?? {};\n  const missing_fields = requiredFields.filter((field) => !normalized[field]);\n  const invalid_fields = [];\n  const security = item.json.security_controls ?? {};\n  const flags = normalized.flags ?? {};\n  const security_violations = [];\n  if (normalized.input_type && !allowedInputTypes.has(normalized.input_type)) invalid_fields.push('input_type');\n  if (normalized.severity && !allowedSeverities.has(normalized.severity)) invalid_fields.push('severity');\n  if (!ticket.user) missing_fields.push('entities.user');\n  if (!ticket.service) missing_fields.push('entities.service');\n  const searchablePayload = [normalized.title, normalized.description, ...(Array.isArray(normalized.evidence) ? normalized.evidence : []), JSON.stringify(normalized.entities ?? {})].join(' ');\n  if (flags.contains_real_customer_data) security_violations.push('contains_real_customer_data');\n  if (flags.contains_credentials) security_violations.push('contains_credentials');\n  if (credentialPattern.test(searchablePayload)) security_violations.push('credential_like_material_detected');\n  if (security.external_calls_allowed) security_violations.push('external_calls_allowed');\n  if (security.remediation_allowed) security_violations.push('remediation_allowed');\n  if (security.credentials_allowed) security_violations.push('credentials_allowed');\n  if (security.production_allowed) security_violations.push('production_allowed');\n  if (security.production_changes_allowed) security_violations.push('production_changes_allowed');\n  const is_valid = missing_fields.length === 0 && invalid_fields.length === 0 && security_violations.length === 0;\n  return {\n    json: {\n      ...item.json,\n      processing_stage: 'validation',\n      validation: {\n        is_valid,\n        status: is_valid ? 'valid' : 'invalid',\n        required_fields: [...requiredFields, 'entities.user', 'entities.service'],\n        missing_fields,\n        invalid_fields,\n        security_violations,\n        validation_notes: is_valid ? 'Ticket aceito para producao controlada.' : 'Ticket bloqueado antes de classificacao.'\n      }\n    }\n  };\n});"
      },
      "id": "prod-validar-campos",
      "name": "04 - Validar Campos Obrigatorios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ],
      "notesInFlow": true,
      "notes": "Valida campos minimos, tipo ticket, severidade e controles de seguranca."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"validation\"][\"is_valid\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "prod-if-valido",
      "name": "05 - Entrada Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "notesInFlow": true,
      "notes": "Direciona ticket valido para classificacao e invalido para rejeicao controlada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const normalized = item.json.normalized ?? {};\n  const validation = item.json.validation ?? {};\n  return {\n    json: {\n      ...item.json,\n      processing_stage: 'controlled_rejection',\n      controlled_rejection: {\n        rejected: true,\n        reason: 'Ticket invalido ou violacao de seguranca detectada antes da classificacao.',\n        missing_fields: validation.missing_fields ?? [],\n        invalid_fields: validation.invalid_fields ?? [],\n        security_violations: validation.security_violations ?? [],\n        case_id: normalized.case_id || 'not_available',\n        trace_id: normalized.trace_id || 'not_available',\n        next_action: 'Corrigir ticket em ambiente controlado e reexecutar manualmente.',\n        automated_action_executed: false\n      }\n    }\n  };\n});"
      },
      "id": "prod-rejeicao-controlada",
      "name": "05.1 - Rejeicao Controlada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        220
      ],
      "notesInFlow": true,
      "notes": "Trata entradas invalidas sem executar acao externa."
    },
    {
      "parameters": {
        "jsCode": "function includesAny(text, terms) { return terms.some((term) => text.includes(term)); }\nfunction riskFromSeverity(severity) { if (severity === 'critical') return 'critical'; if (severity === 'high') return 'high'; if (severity === 'medium') return 'medium'; return 'low'; }\nconst routeRules = [\n  { route: 'identity', terms: ['identity', 'identidade', 'mfa', '2fa', 'autentic', 'login', 'senha', 'conta', 'dispositivo mfa', 'fator'] },\n  { route: 'vpn_access', terms: ['vpn', 'acesso remoto', 'remote access', 'tunel', 'tunnel', 'gateway', 'cliente vpn'] },\n  { route: 'endpoint_device', terms: ['endpoint', 'notebook', 'laptop', 'host', 'dispositivo', 'device', 'aplicativo', 'app'] }\n];\nconst specialistsByRoute = { identity: ['identidade_mfa', 'comunicacao_usuario', 'consolidador'], vpn_access: ['vpn_acesso', 'comunicacao_usuario', 'consolidador'], endpoint_device: ['endpoint_dispositivo', 'comunicacao_usuario', 'consolidador'], unknown: ['triagem_soc', 'consolidador'] };\nreturn items.map((item) => {\n  const normalized = item.json.normalized ?? {};\n  const ticket = normalized.ticket_context ?? {};\n  const evidenceText = Array.isArray(normalized.evidence) ? normalized.evidence.join(' ') : '';\n  const entitiesText = Object.values(normalized.entities ?? {}).join(' ');\n  const corpus = [normalized.classification_hint, normalized.title, normalized.description, ticket.service, ticket.mfa_device_status, evidenceText, entitiesText].join(' ').toLowerCase();\n  let probable_root_cause = 'unknown';\n  let classification_reason = 'Nenhuma regra local identificou causa provavel com confianca suficiente.';\n  let confidence_level = 'low';\n  const hint = normalized.classification_hint;\n  const directRoute = routeRules.find((rule) => rule.route === hint || (hint === 'vpn' && rule.route === 'vpn_access') || (hint === 'endpoint' && rule.route === 'endpoint_device'));\n  if (directRoute) { probable_root_cause = directRoute.route; classification_reason = 'classification_hint indicou rota ' + directRoute.route + '.'; confidence_level = 'high'; }\n  else { const matched = routeRules.find((rule) => includesAny(corpus, rule.terms)); if (matched) { probable_root_cause = matched.route; classification_reason = 'Regras locais identificaram termos associados a ' + matched.route + '.'; confidence_level = 'medium'; } }\n  if (ticket.mfa_device_status === 'device_changed' && probable_root_cause === 'identity') { confidence_level = 'high'; classification_reason = 'Contexto indica troca de dispositivo MFA associada a falha de autenticacao.'; }\n  const risk_level = riskFromSeverity(normalized.severity);\n  return { json: { ...item.json, processing_stage: 'classification', classification: { probable_root_cause, routing_key: probable_root_cause, risk_level, risk_score: { critical: 95, high: 80, medium: 55, low: 25 }[risk_level] || 25, confidence_level, confidence_score: { high: 90, medium: 70, low: 45 }[confidence_level] || 45, classification_reason, false_positive_assessment: 'possible', possible_false_positive: true, specialists_recommended: specialistsByRoute[probable_root_cause] ?? specialistsByRoute.unknown } } };\n});"
      },
      "id": "prod-classificar-ticket",
      "name": "06 - Classificar Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -120
      ],
      "notesInFlow": true,
      "notes": "Classificacao deterministica local para identidade/MFA, VPN, endpoint ou fallback unknown."
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "identity",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "identity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "vpn_access",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vpn_access"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "endpoint_device",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "endpoint_device"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown",
          "ignoreCase": true
        }
      },
      "id": "prod-switch-rota",
      "name": "07 - Switch Roteamento Ticket",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1560,
        -120
      ],
      "notesInFlow": true,
      "notes": "Roteia para especialista dedicado conforme causa provavel do ticket."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const ticket = normalized.ticket_context ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; return { json: { ...item.json, processing_stage: 'identity_mfa_specialist', specialist_analysis: { specialist: 'identity_mfa', diagnosis: 'Falha de VPN provavelmente relacionada a identidade/MFA, especialmente troca ou revalidacao de dispositivo MFA em ambiente de producao controlada.', evidence_considered: evidence, affected_entities: { user: ticket.user || 'usuario_nao_informado', service: ticket.service || 'servico_nao_informado', mfa_device_status: ticket.mfa_device_status || 'status_nao_informado' }, recommendation: 'Validar identidade do solicitante por canal aprovado e revisar estado MFA sem solicitar codigo, senha ou token.', technical_steps: ['Confirmar que o solicitante e o proprietario da conta em processo humano aprovado.','Revisar somente em modo leitura se houve troca recente de dispositivo MFA.','Orientar reinscricao MFA apenas por procedimento corporativo aprovado.','Nao executar reset de senha, reset de MFA ou revogacao de sessao sem aprovacao humana explicita.'], escalation: 'Escalonar para equipe de Identidade/MFA se o solicitante nao puder ser validado ou houver suspeita de fraude.', critical_actions_need_approval: ['reset_de_mfa','reset_de_senha','revogacao_de_sessao','alteracao_de_metodo_mfa'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-identidade",
      "name": "08 - Especialista Identidade MFA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -260
      ],
      "notesInFlow": true,
      "notes": "Analise local de identidade/MFA sem credenciais, API externa ou remediacao."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const ticket = normalized.ticket_context ?? {}; const entities = normalized.entities ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; return { json: { ...item.json, processing_stage: 'vpn_access_specialist', specialist_analysis: { specialist: 'vpn_access', diagnosis: 'Falha pode estar relacionada ao acesso VPN ou politica de conexao, sem evidencia suficiente para acao automatica.', evidence_considered: evidence, affected_entities: { user: ticket.user || 'usuario_nao_informado', service: ticket.service || 'servico_nao_informado', source_ip: ticket.source_ip || entities.source_ip || 'origem_nao_informada' }, recommendation: 'Validar elegibilidade do usuario, perfil de VPN e janela de mudanca antes de qualquer alteracao.', technical_steps: ['Correlacionar relato do ticket com indisponibilidade conhecida de VPN em modo somente leitura.','Verificar se perfil/grupo de acesso esperado esta documentado, sem alterar permissoes.','Orientar teste controlado apos validacao humana.','Submeter qualquer alteracao de acesso VPN para aprovacao humana.'], escalation: 'Escalonar para equipe de VPN/Rede se houver impacto no servico ou divergencia de perfil.', critical_actions_need_approval: ['alteracao_de_grupo_vpn','liberacao_de_acesso','reset_de_perfil_vpn'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-vpn",
      "name": "08.1 - Especialista VPN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -80
      ],
      "notesInFlow": true,
      "notes": "Analise local de VPN sem firewall, gateway, API externa ou alteracao de acesso."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const ticket = normalized.ticket_context ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; return { json: { ...item.json, processing_stage: 'endpoint_device_specialist', specialist_analysis: { specialist: 'endpoint_device', diagnosis: 'Falha pode estar associada ao dispositivo do usuario, cliente VPN ou aplicativo MFA local.', evidence_considered: evidence, affected_entities: { user: ticket.user || 'usuario_nao_informado', host: ticket.host || 'host_nao_informado', service: ticket.service || 'servico_nao_informado' }, recommendation: 'Validar estado do cliente VPN e aplicativo MFA no dispositivo sem coletar segredos ou executar remediacao remota.', technical_steps: ['Confirmar versao e estado do cliente VPN em processo orientado pelo suporte.','Confirmar se o aplicativo MFA foi reinstalado ou migrado para outro dispositivo.','Solicitar evidencias nao sensiveis, como mensagens de erro sem codigos ou tokens.','Encaminhar para suporte endpoint se houver falha local persistente.'], escalation: 'Escalonar para equipe de Endpoint/Suporte se houver falha local ou incompatibilidade do cliente.', critical_actions_need_approval: ['reinstalacao_assistida','alteracao_de_cliente_vpn','coleta_remota_de_logs'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-endpoint",
      "name": "08.2 - Especialista Endpoint Dispositivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        100
      ],
      "notesInFlow": true,
      "notes": "Analise local de endpoint/dispositivo sem EDR, API externa ou coleta remota."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const ticket = normalized.ticket_context ?? {}; const evidence = Array.isArray(normalized.evidence) ? normalized.evidence : []; return { json: { ...item.json, processing_stage: 'unknown_specialist', specialist_analysis: { specialist: 'unknown', diagnosis: 'Causa provavel do ticket VPN/MFA nao determinada pelas regras locais de producao controlada.', evidence_considered: evidence, affected_entities: { user: ticket.user || 'usuario_nao_informado', service: ticket.service || 'servico_nao_informado', host: ticket.host || 'host_nao_informado' }, recommendation: 'Manter em triagem humana e coletar contexto adicional nao sensivel antes de qualquer acao.', technical_steps: ['Revisar titulo, descricao e entidades do ticket.','Solicitar ao usuario informacoes nao sensiveis sobre erro e momento da falha.','Reexecutar com classification_hint quando a causa for conhecida.','Nao solicitar senha, codigo MFA, token ou segredo.'], escalation: 'Escalonar para triagem SOC/Suporte humano.', critical_actions_need_approval: ['qualquer_acao_de_acesso_ou_identidade'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-unknown",
      "name": "08.3 - Especialista Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        280
      ],
      "notesInFlow": true,
      "notes": "Fallback seguro para tickets sem causa provavel determinada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const validation = item.json.validation ?? { is_valid: false, status: 'invalid' }; const rejection = item.json.controlled_rejection ?? null; const classification = item.json.classification ?? { probable_root_cause: rejection ? 'not_classified' : 'unknown', risk_level: 'unknown', risk_score: 0, confidence_level: 'low', confidence_score: 0, classification_reason: rejection ? 'Classificacao nao executada por rejeicao controlada.' : 'Classificacao nao disponivel.' }; const specialist = item.json.specialist_analysis ?? null; const controls = item.json.security_controls ?? {}; const blocked = rejection?.rejected === true || validation.is_valid !== true; const status = blocked ? 'rejected_invalid_payload' : 'analysis_completed_prod'; const finalRecommendation = blocked ? (rejection?.next_action ?? 'Corrigir campos obrigatorios ou violacoes de seguranca antes de nova execucao.') : (specialist?.recommendation ?? 'Revisar manualmente; analise especializada nao disponivel.'); const observability = normalized.observability ?? {}; const now = new Date(); const started = observability.started_at_ms || Date.now(); const processing_time_ms = Math.max(0, Date.now() - started); const workflowName = item.json.workflow_context?.workflow_name || 'SOC-Octopus-Agent - Ticket VPN MFA Production'; const workflowVersion = item.json.workflow_context?.workflow_version || '1.0.0'; const executionId = observability.execution_id || 'exec-' + Date.now(); const correlationId = observability.correlation_id || [normalized.case_id || 'case-missing', normalized.trace_id || 'trace-missing'].join(':'); const correlation = { user: normalized.entities?.user || normalized.ticket_context?.user || null, host: normalized.entities?.host || normalized.ticket_context?.host || null, process: normalized.entities?.process || null, ioc: normalized.entities?.ioc || normalized.entities?.file_hash || normalized.entities?.rule_id || null, ticket: normalized.entities?.ticket || normalized.case_id || null, previous_event: normalized.evidence?.[0] || null }; const output = { execution_id: executionId, workflow_name: workflowName, workflow_version: workflowVersion, correlation_id: correlationId, trace_id: normalized.trace_id || rejection?.trace_id || 'not_available', case_id: normalized.case_id || rejection?.case_id || 'not_available', status, execution_status: status, input_type: normalized.input_type || 'not_available', severity: normalized.severity || 'not_available', probable_root_cause: classification.probable_root_cause, risk_level: classification.risk_level, risk_score: classification.risk_score, confidence_level: classification.confidence_level, confidence_score: classification.confidence_score, diagnosis: blocked ? rejection?.reason : (specialist?.diagnosis ?? 'Diagnostico especializado nao produzido.'), solution_recommendation: finalRecommendation, technical_steps: specialist?.technical_steps ?? [], escalation: specialist?.escalation ?? 'Revisao humana obrigatoria antes de qualquer acao.', observability: { execution_id: executionId, workflow_version: workflowVersion, processing_time_ms, correlation_id: correlationId, trace_id: normalized.trace_id || 'not_available' }, audit_timestamp: now.toISOString(), audit_summary: 'Workflow production ready; audit trail prepared for persistence, SIEM sync, ticketing, cache and manual approval governance.', human_approval: { required: true, required_for_actions: specialist?.critical_actions_need_approval ?? [], approval_status: 'pending_human_review' }, correlation, security_notes: { external_calls_allowed: controls.external_calls_allowed === true, remediation_allowed: controls.remediation_allowed === true, credentials_allowed: controls.credentials_allowed === true, production_allowed: controls.production_allowed === true, production_changes_allowed: controls.production_changes_allowed === false, human_approval_required: true, automated_action_executed: false, secrets_requested_or_processed: false }, validation, rejection, classification, specialist_analysis: specialist, integration_targets: { iam_idp: process.env.IAM_IDP_BASE_URL ? 'configured_by_env' : 'needs_env', vpn: process.env.VPN_BASE_URL ? 'configured_by_env' : 'needs_env', siem: process.env.SIEM_BASE_URL ? 'configured_by_env' : 'needs_env', ticketing: process.env.TICKETING_BASE_URL ? 'configured_by_env' : 'needs_env', postgres: 'configured_by_credential', redis: 'configured_by_credential' } }; return { json: { case_id: output.case_id, trace_id: output.trace_id, output_ready_for_human_review: true, soc_octopus_output: output } }; });"
      },
      "id": "prod-consolidador-final",
      "name": "09 - Consolidador Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ],
      "notesInFlow": true,
      "notes": "Consolida rejeicao, validacao, classificacao, analise especialista e controles de seguranca em saida revisavel."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$vars.IAM_IDP_BASE_URL}}/api/v1/readonly/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": false,
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "IAM_IDP_READONLY",
          "id": "IAM_IDP_READONLY"
        }
      },
      "id": "prod-iam-idp-sync",
      "name": "10 - IAM/IdP Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -360
      ],
      "notesInFlow": true,
      "notes": "Integra??o future read only com IAM/IdP.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$vars.VPN_BASE_URL}}/api/v1/readonly/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": false,
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "VPN_READONLY",
          "id": "VPN_READONLY"
        }
      },
      "id": "prod-vpn-sync",
      "name": "11 - VPN Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -200
      ],
      "notesInFlow": true,
      "notes": "Integra??o future read only com VPN.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SIEM_BASE_URL}}/api/v1/soc-octopus/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "SIEM_READONLY",
          "id": "SIEM_READONLY"
        }
      },
      "id": "prod-siem-sync",
      "name": "12 - SIEM Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -40
      ],
      "notesInFlow": true,
      "notes": "Integra??o futura com SIEM.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.TICKETING_BASE_URL}}/api/v1/incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TICKETING_RW",
          "id": "TICKETING_RW"
        }
      },
      "id": "prod-ticketing-sync",
      "name": "13 - Ticketing Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        120
      ],
      "notesInFlow": true,
      "notes": "Integra??o futura com ticketing.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO soc_audit_log (\n  event_type,\n  actor_type,\n  actor_name,\n  action,\n  details\n) VALUES (\n  $1, $2, $3, $4, $5::jsonb\n)\nRETURNING audit_uuid;",
        "options": {
          "queryReplacement": "={{ ['workflow_execution', 'n8n_workflow', $json.soc_octopus_output?.workflow_name || 'SOC-Octopus-Agent', $json.soc_octopus_output?.status || $json.soc_octopus_output?.execution_status || 'analysis_completed', JSON.stringify($json.soc_octopus_output || $json)] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "SOC_OCTOPUS_POSTGRES",
          "id": "SOC_OCTOPUS_POSTGRES"
        }
      },
      "id": "prod-postgres-audit",
      "name": "14 - Persistir Auditoria PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2520,
        280
      ],
      "notesInFlow": true,
      "notes": "Persist?ncia de auditoria em PostgreSQL.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.soc_octopus_output.correlation_id}}",
        "value": "={{ $json.soc_octopus_output }}"
      },
      "credentials": {
        "redis": {
          "name": "SOC_OCTOPUS_REDIS",
          "id": "SOC_OCTOPUS_REDIS"
        }
      },
      "id": "prod-redis-cache",
      "name": "15 - Cache Correlation Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2520,
        440
      ],
      "notesInFlow": true,
      "notes": "Cache/correla??o em Redis.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'iam_idp', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-iam",
      "name": "10.1 - Auditoria Falha IAM/IdP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -360
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha IAM/IdP."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'vpn', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-vpn",
      "name": "11.1 - Auditoria Falha VPN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -200
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha VPN."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'siem', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-siem",
      "name": "12.1 - Auditoria Falha SIEM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -40
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha SIEM."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'ticketing', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-ticketing",
      "name": "13.1 - Auditoria Falha Ticketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        120
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Ticketing."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'postgresql', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-postgres",
      "name": "14.1 - Auditoria Falha PostgreSQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        280
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha PostgreSQL."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'redis', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-redis",
      "name": "15.1 - Auditoria Falha Redis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        440
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int-1",
      "name": "16 - Merge Integracoes 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        -280
      ],
      "notesInFlow": true,
      "notes": "Consolida IAM/IdP e VPN."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int-2",
      "name": "17 - Merge Integracoes 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        -80
      ],
      "notesInFlow": true,
      "notes": "Consolida SIEM e Ticketing."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int-final",
      "name": "18 - Merge Integracoes Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3460,
        -180
      ],
      "notesInFlow": true,
      "notes": "Consolida integracoes externas."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-persist",
      "name": "19 - Merge Persistencia",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        360
      ],
      "notesInFlow": true,
      "notes": "Consolida persistencia PostgreSQL e Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-final",
      "name": "20 - Merge Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3780,
        0
      ],
      "notesInFlow": true,
      "notes": "Consolida integracoes e persistencia antes da resposta final."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.soc_octopus_output}}"
      },
      "id": "prod-respond-ticket-vpn",
      "name": "21 - Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4100,
        0
      ],
      "notesInFlow": true,
      "notes": "Resposta final ao Webhook."
    }
  ],
  "connections": {
    "01 - Webhook Ingress Production": {
      "main": [
        [
          {
            "node": "02 - Receber Ticket Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00 - Manual Trigger Replay": {
      "main": [
        [
          {
            "node": "02 - Receber Ticket Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Receber Ticket Production": {
      "main": [
        [
          {
            "node": "03 - Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - Normalizar Payload": {
      "main": [
        [
          {
            "node": "04 - Validar Campos Obrigatorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 - Validar Campos Obrigatorios": {
      "main": [
        [
          {
            "node": "05 - Entrada Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 - Entrada Valida?": {
      "main": [
        [
          {
            "node": "06 - Classificar Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05.1 - Rejeicao Controlada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05.1 - Rejeicao Controlada": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 - Classificar Ticket": {
      "main": [
        [
          {
            "node": "07 - Switch Roteamento Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 - Switch Roteamento Ticket": {
      "main": [
        [
          {
            "node": "08 - Especialista Identidade MFA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.1 - Especialista VPN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.2 - Especialista Endpoint Dispositivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.3 - Especialista Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 - Especialista Identidade MFA": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.1 - Especialista VPN": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.2 - Especialista Endpoint Dispositivo": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.3 - Especialista Unknown": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 - Consolidador Final": {
      "main": [
        [
          {
            "node": "10 - IAM/IdP Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11 - VPN Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12 - SIEM Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13 - Ticketing Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14 - Persistir Auditoria PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15 - Cache Correlation Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - IAM/IdP Sync Production": {
      "main": [
        [
          {
            "node": "10.1 - Auditoria Falha IAM/IdP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10.1 - Auditoria Falha IAM/IdP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - VPN Sync Production": {
      "main": [
        [
          {
            "node": "11.1 - Auditoria Falha VPN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11.1 - Auditoria Falha VPN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 - SIEM Sync Production": {
      "main": [
        [
          {
            "node": "12.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 - Ticketing Sync Production": {
      "main": [
        [
          {
            "node": "13.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14 - Persistir Auditoria PostgreSQL": {
      "main": [
        [
          {
            "node": "14.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 - Cache Correlation Redis": {
      "main": [
        [
          {
            "node": "15.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10.1 - Auditoria Falha IAM/IdP": {
      "main": [
        [
          {
            "node": "16 - Merge Integracoes 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11.1 - Auditoria Falha VPN": {
      "main": [
        [
          {
            "node": "16 - Merge Integracoes 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "12.1 - Auditoria Falha SIEM": {
      "main": [
        [
          {
            "node": "17 - Merge Integracoes 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13.1 - Auditoria Falha Ticketing": {
      "main": [
        [
          {
            "node": "17 - Merge Integracoes 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "14.1 - Auditoria Falha PostgreSQL": {
      "main": [
        [
          {
            "node": "19 - Merge Persistencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15.1 - Auditoria Falha Redis": {
      "main": [
        [
          {
            "node": "19 - Merge Persistencia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "16 - Merge Integracoes 1": {
      "main": [
        [
          {
            "node": "18 - Merge Integracoes Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17 - Merge Integracoes 2": {
      "main": [
        [
          {
            "node": "18 - Merge Integracoes Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "18 - Merge Integracoes Final": {
      "main": [
        [
          {
            "node": "20 - Merge Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19 - Merge Persistencia": {
      "main": [
        [
          {
            "node": "20 - Merge Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "20 - Merge Final": {
      "main": [
        [
          {
            "node": "21 - Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "project": "SOC-Octopus-Agent",
    "phase": "production-ready",
    "real_ready": true,
    "production_ready": true,
    "uses_synthetic_payload": false,
    "contains_credentials": false,
    "contains_external_integrations": true,
    "contains_production_data": false,
    "human_approval_required_for_critical_actions": true,
    "validation_profile": "prod-template"
  },
  "tags": []
}
