02-workflows-n8n/soc-octopus-falso-positivo-manutencao-mock.json
{
  "name": "SOC-Octopus-Agent - Falso Positivo Manutencao Production",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soc-octopus/falso-positivo-manutencao",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "noResponseBody": false
        },
        "authentication": "headerAuth"
      },
      "id": "prod-webhook-fp",
      "name": "01 - Webhook Ingress Production",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -220
      ],
      "notesInFlow": true,
      "notes": "Entrada de producao via webhook. Placeholders de autenticacao esperados: X-API-Key, Authorization Bearer e HMAC Signature.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WEBHOOK_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "prod-manual-trigger-fp",
      "name": "00 - Manual Trigger Replay",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notesInFlow": true,
      "notes": "Inicio manual de replay. Workflow permanece inativo e sem gatilho externo."
    },
    {
      "parameters": {
        "jsCode": "const incoming = items[0]?.json ?? {}; const hasIncomingPayload = Object.keys(incoming).length > 0 && Object.keys(incoming).some((key) => key !== 'executionMode'); const payload = incoming.payload ?? incoming.body ?? incoming ?? {}; const executionId = 'exec-' + Date.now(); const traceId = payload.trace_id || 'trace-missing'; const caseId = payload.case_id || 'case-missing'; return [{ json: { payload, workflow_context: { workflow_mode: 'production_ready', environment: 'production', source: hasIncomingPayload ? 'incoming_payload' : 'manual_trigger_empty_payload', generated_at: new Date().toISOString(), workflow_name: 'SOC-Octopus-Agent - Falso Positivo Manutencao Production', workflow_version: '1.0.0', observability: { started_at_ms: Date.now(), execution_id: executionId, correlation_id: [caseId, traceId].join(':'), trace_id: traceId }, auth_placeholders: { x_api_key: incoming.headers?.['x-api-key'] ?? '{{X-API-Key}}', authorization_bearer: incoming.headers?.authorization ?? '{{Authorization Bearer}}', hmac_signature: incoming.headers?.['x-hmac-signature'] ?? '{{HMAC Signature}}' } }, security_controls: { external_calls_allowed: false, remediation_allowed: false, credentials_allowed: false, production_allowed: false, production_changes_allowed: false, human_approval_required: true } } }];"
      },
      "id": "prod-receber-fp",
      "name": "02 - Receber Evento Manutencao Production",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "notesInFlow": true,
      "notes": "Recebe payload do webhook ou replay manual e prepara contexto de execucao."
    },
    {
      "parameters": {
        "jsCode": "function text(value) { return value === undefined || value === null ? '' : String(value).trim(); } function lower(value) { return text(value).toLowerCase(); } function bool(value) { return value === true || value === 'true'; } function parseSummary(summary) { const entities = {}; for (const part of text(summary).split(';')) { const pieces = part.split('='); const key = text(pieces.shift()); const value = text(pieces.join('=')); if (key && value) entities[key] = value; } return entities; } function list(value) { if (Array.isArray(value)) return value.map(text).filter(Boolean); return text(value).split(/[;,]/).map(text).filter(Boolean); } return items.map((item) => { const payload = item.json.payload ?? {}; const entities = payload.entities && typeof payload.entities === 'object' && !Array.isArray(payload.entities) ? payload.entities : parseSummary(payload.entities_summary); const normalized = { case_id: text(payload.case_id), trace_id: text(payload.trace_id), input_type: lower(payload.input_type), source_system: text(payload.source_system), received_at: text(payload.received_at), severity: lower(payload.severity), title: text(payload.title), description: text(payload.description), classification_hint: lower(payload.classification_hint), entities, maintenance_context: { change: text(payload.maintenance_ticket || entities.change), host: text(payload.host || entities.host), service: text(payload.service || entities.service), status: text(payload.status || entities.status), maintenance_window: text(payload.maintenance_window || entities.maintenance_window), maintenance_approved: bool(payload.maintenance_approved), change_record_present: bool(payload.change_record_present), suppression_requested: bool(payload.suppression_requested) }, evidence: list(payload.evidence || payload.evidence_summary), flags: { synthetic_payload: bool(payload.synthetic_payload), contains_real_customer_data: bool(payload.contains_real_customer_data), contains_credentials: bool(payload.contains_credentials), human_approval_required_for_action: bool(payload.human_approval_required_for_action) } }; return { json: { ...item.json, normalized, processing_stage: 'normalization', normalization_status: 'completed' } }; });"
      },
      "id": "prod-normalizar-fp",
      "name": "03 - Normalizar Evento Manutencao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "notesInFlow": true,
      "notes": "Normaliza evento, change, janela de manutencao e evidencias."
    },
    {
      "parameters": {
        "jsCode": "const allowedInputTypes = new Set(['event', 'ticket', 'soc_alert']); const allowedSeverities = new Set(['low', 'medium', 'high', 'critical']); const requiredFields = ['case_id', 'trace_id', 'input_type', 'severity', 'title', 'description']; return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.maintenance_context ?? {}; const flags = normalized.flags ?? {}; const missing_fields = requiredFields.filter((field) => !normalized[field]); const invalid_fields = []; if (normalized.input_type && !allowedInputTypes.has(normalized.input_type)) invalid_fields.push('input_type'); if (normalized.severity && !allowedSeverities.has(normalized.severity)) invalid_fields.push('severity'); if (!context.change && !context.maintenance_window && !context.service) invalid_fields.push('maintenance_context'); const controls = item.json.security_controls ?? {}; const security_violations = []; if (flags.contains_real_customer_data) security_violations.push('contains_real_customer_data'); if (flags.contains_credentials) security_violations.push('contains_credentials'); if (controls.external_calls_allowed) security_violations.push('external_calls_allowed'); if (controls.credentials_allowed) security_violations.push('credentials_allowed'); if (controls.production_allowed) security_violations.push('production_allowed'); if (controls.remediation_allowed) security_violations.push('remediation_allowed'); if (controls.database_allowed) security_violations.push('database_allowed'); if (controls.redis_allowed) security_violations.push('redis_allowed'); const is_valid = missing_fields.length === 0 && invalid_fields.length === 0 && security_violations.length === 0; return { json: { ...item.json, processing_stage: 'validation', validation: { is_valid, status: is_valid ? 'valid' : 'invalid', required_fields: requiredFields, missing_fields, invalid_fields, security_violations, validation_notes: is_valid ? 'Evento de manutencao aceito para producao controlada.' : 'Evento bloqueado antes de classificacao.' } } }; });"
      },
      "id": "prod-validar-fp",
      "name": "04 - Validar Campos Obrigatorios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ],
      "notesInFlow": true,
      "notes": "Valida campos minimos e controles de seguranca."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"validation\"][\"is_valid\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "prod-if-fp",
      "name": "05 - Entrada Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "notesInFlow": true,
      "notes": "Separa evento valido de rejeicao controlada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const validation = item.json.validation ?? {}; return { json: { ...item.json, processing_stage: 'controlled_rejection', controlled_rejection: { rejected: true, reason: 'Evento de manutencao invalido ou bloqueado por controles de seguranca.', missing_fields: validation.missing_fields ?? [], invalid_fields: validation.invalid_fields ?? [], security_violations: validation.security_violations ?? [], case_id: normalized.case_id || 'not_available', trace_id: normalized.trace_id || 'not_available', next_action: 'Corrigir payload e reexecutar manualmente em ambiente controlado.', automated_action_executed: false } } }; });"
      },
      "id": "prod-rejeicao-controlada-fp",
      "name": "05.1 - Rejeicao Controlada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        260
      ],
      "notesInFlow": true,
      "notes": "Trata evento invalido sem executar acao externa."
    },
    {
      "parameters": {
        "jsCode": "function includesAny(text, terms) { return terms.some((term) => text.includes(term)); } function riskFromContext(severity, context) { if (context.maintenance_approved) return 'low'; if (context.change_record_present && context.maintenance_window) return 'low'; if (severity === 'critical') return 'high'; if (severity === 'high') return 'high'; if (severity === 'medium') return 'medium'; return 'low'; } const routeTerms = [ { route: 'false_positive', terms: ['false_positive', 'falso positivo', 'benigno', 'allowlist', 'whitelist', 'janela de manutencao', 'manutencao planejada'] }, { route: 'maintenance_window', terms: ['maintenance window', 'janela de manutencao', 'manutencao', 'reinicio', 'restart', 'change'] }, { route: 'change_record', terms: ['change', 'chg', 'mudanca', 'ticket', 'request', 'aprovado'] } ]; const specialistsByRoute = { false_positive: ['triagem_falso_positivo', 'comunicacao', 'consolidador'], maintenance_window: ['manutencao_planejada', 'operacoes', 'consolidador'], change_record: ['gestao_mudanca', 'operacoes', 'consolidador'], unknown: ['triagem_soc', 'consolidador'] }; return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.maintenance_context ?? {}; const corpus = [normalized.classification_hint, normalized.title, normalized.description, JSON.stringify(normalized.entities ?? {}), JSON.stringify(context), (normalized.evidence ?? []).join(' ')].join(' ').toLowerCase(); let probable_root_cause = 'unknown'; let confidence_level = 'low'; let classification_reason = 'Nenhuma regra local identificou causa raiz com confianca suficiente.'; const directRoutes = new Set(['false_positive', 'maintenance_window', 'change_record', 'unknown']); if (directRoutes.has(normalized.classification_hint)) { probable_root_cause = normalized.classification_hint; confidence_level = probable_root_cause === 'unknown' ? 'low' : 'high'; classification_reason = 'classification_hint indicou rota ' + probable_root_cause + '.'; } else { const matched = routeTerms.find((rule) => includesAny(corpus, rule.terms)); if (matched) { probable_root_cause = matched.route; confidence_level = 'medium'; classification_reason = 'Regras locais identificaram contexto ' + matched.route + '.'; } } const risk_level = riskFromContext(normalized.severity, context); const false_positive_assessment = probable_root_cause === 'false_positive' ? 'high_probability' : (probable_root_cause === 'maintenance_window' ? 'possible' : 'uncertain'); return { json: { ...item.json, processing_stage: 'classification', classification: { probable_root_cause, routing_key: probable_root_cause, risk_level, confidence_level, classification_reason, false_positive_assessment, possible_false_positive: probable_root_cause !== 'unknown', specialists_recommended: specialistsByRoute[probable_root_cause] ?? specialistsByRoute.unknown } } }; });"
      },
      "id": "prod-classificar-fp",
      "name": "06 - Classificar Evento Manutencao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -120
      ],
      "notesInFlow": true,
      "notes": "Classifica falso positivo, janela de manutencao, change e unknown."
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "false_positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "false_positive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "maintenance_window",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "maintenance_window"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "change_record",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "change_record"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown",
          "ignoreCase": true
        }
      },
      "id": "prod-switch-fp",
      "name": "07 - Switch Roteamento Manutencao",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1560,
        -140
      ],
      "notesInFlow": true,
      "notes": "Roteia o evento para especialistas locais sem integracoes externas."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.maintenance_context ?? {}; return { json: { ...item.json, processing_stage: 'false_positive_specialist', specialist_analysis: { specialist: 'false_positive', diagnosis: 'Evento coerente com falso positivo associado a manutencao planejada em producao controlada.', evidence_considered: normalized.evidence ?? [], affected_entities: { host: context.host || 'host_nao_informado', service: context.service || 'servico_nao_informado', change: context.change || 'change_nao_informado', maintenance_window: context.maintenance_window || 'janela_nao_informada' }, recommendation: 'Registrar a causa como falso positivo validado por manutencao e evitar supressao automatica sem aprovacao humana.', technical_steps: ['Confirmar que a janela e o change estao aprovados no contexto.', 'Registrar a justificativa para o falso positivo.', 'Manter trilha auditavel da manutencao.', 'Nao gravar memoria corporativa ou supressao automatica sem aprovacao.'], escalation: 'Escalonar para analista SOC se houver divergencia entre evento e change registrado.', critical_actions_need_approval: ['encerramento_de_alerta', 'supressao_de_regra', 'atualizacao_de_memoria'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-false-positive",
      "name": "08 - Especialista Falso Positivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -360
      ],
      "notesInFlow": true,
      "notes": "Analise local de falso positivo sem supressao automatica."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.maintenance_context ?? {}; return { json: { ...item.json, processing_stage: 'maintenance_window_specialist', specialist_analysis: { specialist: 'maintenance_window', diagnosis: 'Evento observado durante janela de manutencao ou reinicio planejado.', evidence_considered: normalized.evidence ?? [], affected_entities: { host: context.host || 'host_nao_informado', service: context.service || 'servico_nao_informado', change: context.change || 'change_nao_informado', maintenance_window: context.maintenance_window || 'janela_nao_informada' }, recommendation: 'Correlacionar com change e manter o evento como benigno ate confirmacao humana do contexto.', technical_steps: ['Verificar horario da janela e escopo da manutencao.', 'Confirmar que o change foi planejado e autorizado.', 'Registrar o evento como esperado no periodo de manutencao.', 'Evitar qualquer acao automatica de contencao ou supressao.'], escalation: 'Escalonar para Operacoes se a manutencao nao estiver documentada.', critical_actions_need_approval: ['encerramento_de_alerta', 'supressao_de_regra', 'atualizacao_de_memoria'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-maintenance",
      "name": "08.1 - Especialista Manutencao Planejada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -200
      ],
      "notesInFlow": true,
      "notes": "Tratamento local de evento esperado em janela de manutencao."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const context = normalized.maintenance_context ?? {}; return { json: { ...item.json, processing_stage: 'change_record_specialist', specialist_analysis: { specialist: 'change_record', diagnosis: 'Evento vinculado a change ou ticket de manutencao identificado no fluxo.', evidence_considered: normalized.evidence ?? [], affected_entities: { change: context.change || 'change_nao_informado', host: context.host || 'host_nao_informado', service: context.service || 'servico_nao_informado' }, recommendation: 'Usar o change como base de justificativa, mas nao atualizar memoria ou regras automaticamente.', technical_steps: ['Correlacionar o evento com o identificador do change.', 'Confirmar que o change cobre a janela e o escopo do evento.', 'Registrar o motivo do falso positivo ligado ao change.', 'Submeter qualquer supressao para aprovacao humana.'], escalation: 'Escalonar para Gestao de Mudanca se o change nao estiver validado.', critical_actions_need_approval: ['encerramento_de_alerta', 'supressao_de_regra', 'atualizacao_de_memoria'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-change",
      "name": "08.2 - Especialista Change Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -40
      ],
      "notesInFlow": true,
      "notes": "Tratamento local de evento associado a change ou ticket."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; return { json: { ...item.json, processing_stage: 'unknown_specialist', specialist_analysis: { specialist: 'unknown', diagnosis: 'Evento de manutencao nao roteado por regra local especifica.', evidence_considered: normalized.evidence ?? [], affected_entities: normalized.maintenance_context ?? {}, recommendation: 'Manter revisao humana e coletar mais contexto antes de decidir se e falso positivo ou manutencao esperada.', technical_steps: ['Revisar payload normalizado e contexto de manutencao.', 'Solicitar change, janela e aprovacao se faltarem dados.', 'Reexecutar com classification_hint especifico se apropriado.', 'Nao executar supressao automatica.'], escalation: 'Escalonar para triagem SOC humana.', critical_actions_need_approval: ['qualquer_acao_critica'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-unknown-fp",
      "name": "08.3 - Especialista Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        120
      ],
      "notesInFlow": true,
      "notes": "Fallback seguro para evento nao classificado."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const normalized = item.json.normalized ?? {}; const validation = item.json.validation ?? { is_valid: false, status: 'invalid' }; const rejection = item.json.controlled_rejection ?? null; const classification = item.json.classification ?? { probable_root_cause: rejection ? 'not_classified' : 'unknown', risk_level: 'unknown', confidence_level: 'low', classification_reason: rejection ? 'Classificacao nao executada por rejeicao controlada.' : 'Classificacao nao disponivel.' }; const specialist = item.json.specialist_analysis ?? null; const controls = item.json.security_controls ?? {}; const blocked = rejection?.rejected === true || validation.is_valid !== true; const status = blocked ? 'rejected_invalid_payload' : 'analysis_completed_prod'; const diagnosis = blocked ? rejection?.reason : (specialist?.diagnosis ?? 'Diagnostico especializado nao produzido.'); const solution_recommendation = blocked ? (rejection?.next_action ?? 'Corrigir payload antes de nova execucao.') : (specialist?.recommendation ?? 'Revisao humana obrigatoria.'); const output = { execution_id: normalized.observability?.execution_id || 'exec-' + Date.now(), workflow_name: item.json.workflow_context?.workflow_name || 'SOC-Octopus-Agent - Falso Positivo Manutencao Production', workflow_version: item.json.workflow_context?.workflow_version || '1.0.0', correlation_id: item.json.workflow_context?.observability?.correlation_id || [normalized.case_id || 'case-missing', normalized.trace_id || 'trace-missing'].join(':'), trace_id: normalized.trace_id || rejection?.trace_id || 'not_available', case_id: normalized.case_id || rejection?.case_id || 'not_available', status, execution_status: status, input_type: normalized.input_type || 'not_available', severity: normalized.severity || 'not_available', probable_root_cause: classification.probable_root_cause, risk_level: classification.risk_level, risk_score: classification.risk_score, confidence_level: classification.confidence_level, confidence_score: classification.confidence_score, diagnosis, solution_recommendation, technical_steps: specialist?.technical_steps ?? [], escalation: specialist?.escalation ?? 'Revisao humana obrigatoria antes de qualquer acao.', security_notes: { external_calls_allowed: controls.external_calls_allowed === true, credentials_allowed: controls.credentials_allowed === true, production_allowed: controls.production_allowed === true, remediation_allowed: controls.remediation_allowed === true, database_allowed: controls.database_allowed === true, redis_allowed: controls.redis_allowed === true, automated_action_executed: false, human_approval_required: true }, human_approval: { required: true, approval_status: 'pending_human_review', required_for_actions: specialist?.critical_actions_need_approval ?? [] }, audit_summary: 'Workflow production ready para falso positivo e manutencao; sem credenciais; sem URLs; sem chamadas externas; sem banco; sem Redis; sem Telegram; sem remediacao automatica.' }; return { json: { case_id: output.case_id, trace_id: output.trace_id, output_ready_for_human_review: true, soc_octopus_output: output } }; });"
      },
      "id": "prod-consolidador-fp",
      "name": "09 - Consolidador Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ],
      "notesInFlow": true,
      "notes": "Consolida validacao, classificacao, analise especialista e controles em saida revisavel."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SIEM_BASE_URL}}/api/v1/soc-octopus/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "SIEM_READONLY",
          "id": "SIEM_READONLY"
        }
      },
      "id": "prod-siem-sync",
      "name": "10 - SIEM Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -200
      ],
      "notesInFlow": true,
      "notes": "Integracao futura com SIEM.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.TICKETING_BASE_URL}}/api/v1/incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TICKETING_RW",
          "id": "TICKETING_RW"
        }
      },
      "id": "prod-ticketing-sync",
      "name": "11 - Ticketing Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2520,
        -20
      ],
      "notesInFlow": true,
      "notes": "Integracao futura com ticketing.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO soc_audit_log (\n  event_type,\n  actor_type,\n  actor_name,\n  action,\n  details\n) VALUES (\n  $1, $2, $3, $4, $5::jsonb\n)\nRETURNING audit_uuid;",
        "options": {
          "queryReplacement": "={{ ['workflow_execution', 'n8n_workflow', $json.soc_octopus_output?.workflow_name || 'SOC-Octopus-Agent', $json.soc_octopus_output?.status || $json.soc_octopus_output?.execution_status || 'analysis_completed', JSON.stringify($json.soc_octopus_output || $json)] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "SOC_OCTOPUS_POSTGRES",
          "id": "SOC_OCTOPUS_POSTGRES"
        }
      },
      "id": "prod-postgres-audit",
      "name": "12 - Persistir Auditoria PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2520,
        160
      ],
      "notesInFlow": true,
      "notes": "Persistencia de auditoria em PostgreSQL.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.soc_octopus_output.correlation_id}}",
        "value": "={{ $json.soc_octopus_output }}"
      },
      "credentials": {
        "redis": {
          "name": "SOC_OCTOPUS_REDIS",
          "id": "SOC_OCTOPUS_REDIS"
        }
      },
      "id": "prod-redis-cache",
      "name": "13 - Cache Correlation Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2520,
        340
      ],
      "notesInFlow": true,
      "notes": "Cache e correlacao em Redis.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'siem', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-siem",
      "name": "10.1 - Auditoria Falha SIEM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -200
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha SIEM."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'ticketing', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-ticketing",
      "name": "11.1 - Auditoria Falha Ticketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -20
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Ticketing."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'postgresql', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-postgres",
      "name": "12.1 - Auditoria Falha PostgreSQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        160
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha PostgreSQL."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => { const original = $('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error = item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'redis', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-redis",
      "name": "13.1 - Auditoria Falha Redis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        340
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int",
      "name": "14 - Merge Integracoes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        -120
      ],
      "notesInFlow": true,
      "notes": "Consolida SIEM e Ticketing."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-persist",
      "name": "15 - Merge Persistencia",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        260
      ],
      "notesInFlow": true,
      "notes": "Consolida PostgreSQL e Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-final",
      "name": "16 - Merge Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3460,
        60
      ],
      "notesInFlow": true,
      "notes": "Consolida integracoes antes da resposta final."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.soc_octopus_output}}"
      },
      "id": "prod-respond-fp",
      "name": "17 - Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3780,
        60
      ],
      "notesInFlow": true,
      "notes": "Resposta final ao Webhook."
    }
  ],
  "connections": {
    "01 - Webhook Ingress Production": {
      "main": [
        [
          {
            "node": "02 - Receber Evento Manutencao Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00 - Manual Trigger Replay": {
      "main": [
        [
          {
            "node": "02 - Receber Evento Manutencao Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Receber Evento Manutencao Production": {
      "main": [
        [
          {
            "node": "03 - Normalizar Evento Manutencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - Normalizar Evento Manutencao": {
      "main": [
        [
          {
            "node": "04 - Validar Campos Obrigatorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 - Validar Campos Obrigatorios": {
      "main": [
        [
          {
            "node": "05 - Entrada Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 - Entrada Valida?": {
      "main": [
        [
          {
            "node": "06 - Classificar Evento Manutencao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05.1 - Rejeicao Controlada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05.1 - Rejeicao Controlada": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 - Classificar Evento Manutencao": {
      "main": [
        [
          {
            "node": "07 - Switch Roteamento Manutencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 - Switch Roteamento Manutencao": {
      "main": [
        [
          {
            "node": "08 - Especialista Falso Positivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.1 - Especialista Manutencao Planejada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.2 - Especialista Change Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.3 - Especialista Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 - Especialista Falso Positivo": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.1 - Especialista Manutencao Planejada": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.2 - Especialista Change Record": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.3 - Especialista Unknown": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 - Consolidador Final": {
      "main": [
        [
          {
            "node": "10 - SIEM Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11 - Ticketing Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12 - Persistir Auditoria PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13 - Cache Correlation Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - SIEM Sync Production": {
      "main": [
        [
          {
            "node": "10.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - Ticketing Sync Production": {
      "main": [
        [
          {
            "node": "11.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 - Persistir Auditoria PostgreSQL": {
      "main": [
        [
          {
            "node": "12.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 - Cache Correlation Redis": {
      "main": [
        [
          {
            "node": "13.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10.1 - Auditoria Falha SIEM": {
      "main": [
        [
          {
            "node": "14 - Merge Integracoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11.1 - Auditoria Falha Ticketing": {
      "main": [
        [
          {
            "node": "14 - Merge Integracoes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "12.1 - Auditoria Falha PostgreSQL": {
      "main": [
        [
          {
            "node": "15 - Merge Persistencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13.1 - Auditoria Falha Redis": {
      "main": [
        [
          {
            "node": "15 - Merge Persistencia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "14 - Merge Integracoes": {
      "main": [
        [
          {
            "node": "16 - Merge Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 - Merge Persistencia": {
      "main": [
        [
          {
            "node": "16 - Merge Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "16 - Merge Final": {
      "main": [
        [
          {
            "node": "17 - Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "project": "SOC-Octopus-Agent",
    "phase": "production-ready",
    "real_ready": true,
    "production_ready": true,
    "uses_synthetic_payload": false,
    "contains_credentials": false,
    "contains_external_integrations": true,
    "contains_production_data": false,
    "human_approval_required_for_critical_actions": true,
    "validation_profile": "prod-template"
  },
  "tags": []
}
