02-workflows-n8n/soc-octopus-evento-firewall-mock.json
{
  "name": "SOC-Octopus-Agent - Evento Firewall Production",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soc-octopus/evento-firewall",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "noResponseBody": false
        },
        "authentication": "headerAuth"
      },
      "id": "prod-webhook-firewall",
      "name": "01 - Webhook Ingress Production",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -220
      ],
      "notesInFlow": true,
      "notes": "Entrada de producao via webhook. Placeholders de autenticacao esperados: X-API-Key, Authorization Bearer e HMAC Signature.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WEBHOOK_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Webhook Header Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "prod-manual-trigger-firewall",
      "name": "00 - Manual Trigger Replay",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notesInFlow": true,
      "notes": "Inicio manual em ambiente controlado. Workflow permanece inativo e sem gatilho externo."
    },
    {
      "parameters": {
        "jsCode": "const incoming = items[0]?.json ?? {};\nconst hasIncomingPayload = Object.keys(incoming).length > 0 && Object.keys(incoming).some((key) => key !== 'executionMode');\nconst payload = incoming.payload ?? incoming.body ?? incoming ?? {};\nconst executionId = 'exec-' + Date.now();\nconst traceId = payload.trace_id || 'trace-missing';\nconst caseId = payload.case_id || 'case-missing';\nreturn [{ json: { payload, workflow_context: { workflow_mode: 'production_ready', environment: 'production', source: hasIncomingPayload ? 'incoming_payload' : 'empty_payload', generated_at: new Date().toISOString(), workflow_name: 'SOC-Octopus-Agent - Evento Firewall Production', workflow_version: '1.0.0', observability: { started_at_ms: Date.now(), execution_id: executionId, correlation_id: [caseId, traceId].join(':'), trace_id: traceId }, auth_placeholders: { x_api_key: incoming.headers?.['x-api-key'] ?? '{{X-API-Key}}', authorization_bearer: incoming.headers?.authorization ?? '{{Authorization Bearer}}', hmac_signature: incoming.headers?.['x-hmac-signature'] ?? '{{HMAC Signature}}' } }, security_controls: { external_calls_allowed: false, remediation_allowed: false, credentials_allowed: false, production_allowed: false, production_changes_allowed: false, human_approval_required: true } } }];"
      },
      "id": "prod-receber-evento-firewall",
      "name": "02 - Receber Evento Firewall Production",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "notesInFlow": true,
      "notes": "Recebe evento do gatilho manual ou do webhook e prepara contexto de execucao sem gerar dado sintetico."
    },
    {
      "parameters": {
        "jsCode": "function asText(value) {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n}\n\nfunction asBool(value) {\n  return value === true || value === 'true';\n}\n\nfunction parseEntities(payload) {\n  if (payload.entities && typeof payload.entities === 'object' && !Array.isArray(payload.entities)) return payload.entities;\n  const summary = asText(payload.entities_summary);\n  const result = {};\n  for (const part of summary.split(';')) {\n    const [key, ...rest] = part.split('=');\n    if (key && rest.length) result[key.trim()] = rest.join('=').trim();\n  }\n  return result;\n}\n\nfunction normalizeEvidence(payload) {\n  if (Array.isArray(payload.evidence)) return payload.evidence.map(asText).filter(Boolean);\n  const evidence = asText(payload.evidence_summary || payload.evidence);\n  return evidence ? [evidence] : [];\n}\n\nreturn items.map((item) => {\n  const payload = item.json.payload ?? {};\n  const entities = parseEntities(payload);\n  const normalized = {\n    case_id: asText(payload.case_id),\n    trace_id: asText(payload.trace_id),\n    input_type: asText(payload.input_type).toLowerCase(),\n    source_system: asText(payload.source_system),\n    received_at: asText(payload.received_at),\n    severity: asText(payload.severity).toLowerCase(),\n    title: asText(payload.title),\n    description: asText(payload.description),\n    classification_hint: asText(payload.classification_hint).toLowerCase(),\n    entities,\n    evidence: normalizeEvidence(payload),\n    firewall_context: {\n      user: asText(payload.user || entities.user),\n      device: asText(payload.device || entities.device),\n      source_ip: asText(payload.source_ip || entities.source_ip),\n      destination_ip: asText(payload.destination_ip || entities.destination_ip),\n      service: asText(payload.service || entities.service).toLowerCase(),\n      rule_id: asText(payload.rule_id || entities.rule_id),\n      change_id: asText(payload.change_id || entities.change_id),\n      change_window_status: asText(payload.change_window_status || entities.change_window_status).toLowerCase(),\n      action: asText(payload.action || entities.action).toLowerCase()\n    },\n    flags: {\n      synthetic_payload: asBool(payload.synthetic_payload),\n      contains_real_customer_data: asBool(payload.contains_real_customer_data),\n      contains_credentials: asBool(payload.contains_credentials),\n      human_approval_required_for_action: asBool(payload.human_approval_required_for_action)\n    }\n  };\n\n  return {\n    json: {\n      ...item.json,\n      normalized,\n      processing_stage: 'normalization',\n      normalization_status: 'completed'\n    }\n  };\n});"
      },
      "id": "prod-normalizar-payload",
      "name": "03 - Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "notesInFlow": true,
      "notes": "Normaliza campos do evento, entidades, evidencias e contexto de firewall."
    },
    {
      "parameters": {
        "jsCode": "const allowedSeverities = new Set(['low', 'medium', 'high', 'critical']);\nconst requiredFields = ['case_id', 'trace_id', 'input_type', 'severity', 'title', 'description'];\nconst credentialPattern = /(password|passwd|senha|token|secret|client_secret|authorization|bearer)\\s*[:=]/i;\n\nreturn items.map((item) => {\n  const normalized = item.json.normalized ?? {};\n  const fw = normalized.firewall_context ?? {};\n  const missing_fields = requiredFields.filter((field) => !normalized[field]);\n  const invalid_fields = [];\n  const security = item.json.security_controls ?? {};\n  const flags = normalized.flags ?? {};\n  const security_violations = [];\n\n  if (normalized.input_type && normalized.input_type !== 'event') invalid_fields.push('input_type');\n  if (normalized.severity && !allowedSeverities.has(normalized.severity)) invalid_fields.push('severity');\n  if (!fw.device) missing_fields.push('entities.device');\n  if (!fw.source_ip) missing_fields.push('entities.source_ip');\n  if (!fw.destination_ip) missing_fields.push('entities.destination_ip');\n  if (!fw.service) missing_fields.push('entities.service');\n\n  const searchablePayload = [\n    normalized.title,\n    normalized.description,\n    ...(Array.isArray(normalized.evidence) ? normalized.evidence : []),\n    Object.values(normalized.entities ?? {}).join(' ')\n  ].join(' ');\n\n  if (flags.contains_real_customer_data) security_violations.push('contains_real_customer_data');\n  if (flags.contains_credentials) security_violations.push('contains_credentials');\n  if (credentialPattern.test(searchablePayload)) security_violations.push('credential_like_material_detected');\n  if (security.external_calls_allowed) security_violations.push('external_calls_allowed');\n  if (security.remediation_allowed) security_violations.push('remediation_allowed');\n  if (security.credentials_allowed) security_violations.push('credentials_allowed');\n  if (security.production_allowed) security_violations.push('production_allowed');\n\n  const is_valid = missing_fields.length === 0 && invalid_fields.length === 0 && security_violations.length === 0;\n\n  return {\n    json: {\n      ...item.json,\n      processing_stage: 'validation',\n      validation: {\n        is_valid,\n        status: is_valid ? 'valid' : 'invalid',\n        required_fields: [...requiredFields, 'entities.device', 'entities.source_ip', 'entities.destination_ip', 'entities.service'],\n        missing_fields,\n        invalid_fields,\n        security_violations,\n        validation_notes: is_valid ? 'Evento aceito para producao controlada.' : 'Evento bloqueado antes de classificacao.'\n      }\n    }\n  };\n});"
      },
      "id": "prod-validar-campos",
      "name": "04 - Validar Campos Obrigatorios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ],
      "notesInFlow": true,
      "notes": "Valida campos minimos, tipo event, severidade e controles de seguranca."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"validation\"][\"is_valid\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "prod-if-valido",
      "name": "05 - Entrada Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "notesInFlow": true,
      "notes": "Direciona evento valido para classificacao e invalido para rejeicao controlada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const normalized = item.json.normalized ?? {};\n  const validation = item.json.validation ?? {};\n  return {\n    json: {\n      ...item.json,\n      processing_stage: 'controlled_rejection',\n      controlled_rejection: {\n        rejected: true,\n        reason: 'Evento invalido ou violacao de seguranca detectada antes da classificacao.',\n        missing_fields: validation.missing_fields ?? [],\n        invalid_fields: validation.invalid_fields ?? [],\n        security_violations: validation.security_violations ?? [],\n        case_id: normalized.case_id || 'not_avaiprodle',\n        trace_id: normalized.trace_id || 'not_avaiprodle',\n        next_action: 'Corrigir evento em ambiente controlado e reexecutar manualmente.',\n        automated_action_executed: false\n      }\n    }\n  };\n});"
      },
      "id": "prod-rejeicao-controlada",
      "name": "05.1 - Rejeicao Controlada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        260
      ],
      "notesInFlow": true,
      "notes": "Trata entradas invalidas sem executar acao externa."
    },
    {
      "parameters": {
        "jsCode": "function includesAny(text, terms) {\n  return terms.some((term) => text.includes(term));\n}\n\nfunction riskFromSeverity(severity) {\n  if (severity === 'critical') return 'critical';\n  if (severity === 'high') return 'high';\n  if (severity === 'medium') return 'medium';\n  return 'low';\n}\n\nconst routeRules = [\n  {\n    route: 'network',\n    terms: ['network', 'rede', 'firewall', 'fw', 'regra', 'policy', 'porta', 'origem', 'destino', 'trafego', 'conexao']\n  },\n  {\n    route: 'change_management',\n    terms: ['change', 'mudanca', 'janela', 'outside_window', 'fora de janela', 'aprovacao', 'change']\n  },\n  {\n    route: 'security_policy',\n    terms: ['bloqueio', 'liberacao', 'permit', 'deny', 'allow', 'drop', 'exposure', 'exposicao', 'perimetro']\n  },\n  {\n    route: 'infrastructure',\n    terms: ['infra', 'infrastructure', 'device', 'appliance', 'cluster', 'ha', 'interface', 'rota', 'firmware']\n  }\n];\n\nconst specialistsByRoute = {\n  network: ['rede_firewall', 'consolidador'],\n  change_management: ['mudanca_firewall', 'rede_firewall', 'consolidador'],\n  security_policy: ['politica_seguranca', 'rede_firewall', 'consolidador'],\n  infrastructure: ['infraestrutura_rede', 'rede_firewall', 'consolidador'],\n  unknown: ['triagem_soc', 'consolidador']\n};\n\nreturn items.map((item) => {\n  const normalized = item.json.normalized ?? {};\n  const fw = normalized.firewall_context ?? {};\n  const evidenceText = Array.isArray(normalized.evidence) ? normalized.evidence.join(' ') : '';\n  const entitiesText = Object.values(normalized.entities ?? {}).join(' ');\n  const corpus = [\n    normalized.classification_hint,\n    normalized.title,\n    normalized.description,\n    fw.service,\n    fw.rule_id,\n    fw.change_id,\n    fw.change_window_status,\n    fw.action,\n    evidenceText,\n    entitiesText\n  ].join(' ').toLowerCase();\n\n  let probable_root_cause = 'unknown';\n  let classification_reason = 'Nenhuma regra local identificou causa provavel com confianca suficiente.';\n  let confidence_level = 'low';\n\n  const hint = normalized.classification_hint;\n  const directRoute = routeRules.find((rule) => rule.route === hint || (hint === 'firewall' && rule.route === 'network') || (hint === 'network' && rule.route === 'network') || (hint === 'change' && rule.route === 'change_management') || (hint === 'policy' && rule.route === 'security_policy') || (hint === 'infra' && rule.route === 'infrastructure'));\n  if (directRoute) {\n    probable_root_cause = directRoute.route;\n    classification_reason = `classification_hint indicou rota ${directRoute.route}.`;\n    confidence_level = 'high';\n  } else {\n    const matched = routeRules.find((rule) => includesAny(corpus, rule.terms));\n    if (matched) {\n      probable_root_cause = matched.route;\n      classification_reason = `Regras locais identificaram termos associados a ${matched.route}.`;\n      confidence_level = 'medium';\n    }\n  }\n\n  if (fw.change_window_status === 'outside_window' && probable_root_cause === 'network') {\n    classification_reason = 'Evento de firewall com alteracao fora de janela planejada; manter foco em rede e mudanca.';\n    confidence_level = 'high';\n  }\n\n  return {\n    json: {\n      ...item.json,\n      processing_stage: 'classification',\n      classification: {\n        probable_root_cause,\n        routing_key: probable_root_cause,\n        risk_level: riskFromSeverity(normalized.severity),\n        confidence_level,\n        classification_reason,\n        false_positive_assessment: 'possible',\n        possible_false_positive: true,\n        specialists_recommended: specialistsByRoute[probable_root_cause] ?? specialistsByRoute.unknown\n      }\n    }\n  };\n});"
      },
      "id": "prod-classificar",
      "name": "06 - Classificar Evento Firewall",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -140
      ],
      "notesInFlow": true,
      "notes": "Classificacao deterministica local para rede, mudanca, politica de seguranca, infraestrutura ou fallback unknown."
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "network",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "network"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "change_management",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "change_management"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "security_policy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "security_policy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"classification\"][\"routing_key\"]}}",
                    "rightValue": "infrastructure",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "infrastructure"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown",
          "ignoreCase": true
        }
      },
      "id": "prod-switch-rota",
      "name": "07 - Switch Roteamento Firewall",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1560,
        -140
      ],
      "notesInFlow": true,
      "notes": "Roteia para especialista dedicado conforme causa provavel do evento de firewall."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{const normalized=item.json.normalized ?? {}; const fw=normalized.firewall_context ?? {}; const evidence=Array.isArray(normalized.evidence)?normalized.evidence:[]; return { json: { ...item.json, processing_stage: 'network_firewall_specialist', specialist_analysis: { specialist: 'network_firewall', diagnosis: 'Evento indica alteracao de regra de firewall que exige revisao de regra, origem, destino e contexto de mudanca em ambiente controlado.', evidence_considered: evidence, affected_entities: { device: fw.device || 'device_nao_informado', rule_id: fw.rule_id || 'regra_nao_informada', source_ip: fw.source_ip || 'origem_nao_informada', destination_ip: fw.destination_ip || 'destino_nao_informado' }, recommendation: 'Validar se a alteracao foi planejada e revisar impacto de rede antes de qualquer rollback ou ajuste.', technical_steps: ['Comparar regra alterada com padrao esperado em modo somente leitura.','Validar origem, destino, porta ou servico afetado.','Correlacionar evento com janela de mudanca declarada.','Preparar rollback apenas se houver aprovacao humana explicita.'], escalation: 'Escalonar para equipe de Rede/Firewall se a alteracao nao for reconhecida.', critical_actions_need_approval: ['rollback_de_firewall','alteracao_de_regra','bloqueio_ou_liberacao_de_trafego'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-rede",
      "name": "08 - Especialista Rede Firewall",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -320
      ],
      "notesInFlow": true,
      "notes": "Analise local de rede/firewall sem API externa e sem alteracao de regra."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{const normalized=item.json.normalized ?? {}; const fw=normalized.firewall_context ?? {}; const evidence=Array.isArray(normalized.evidence)?normalized.evidence:[]; return { json: { ...item.json, processing_stage: 'change_management_specialist', specialist_analysis: { specialist: 'change_management', diagnosis: 'Evento sugere possivel divergencia entre alteracao de firewall e janela ou referencia de mudanca.', evidence_considered: evidence, affected_entities: { change_id: fw.change_id || 'change_nao_informada', change_window_status: fw.change_window_status || 'janela_nao_informada', user: fw.user || 'usuario_nao_informado' }, recommendation: 'Validar registro de mudanca, aprovacao e janela antes de qualquer acao operacional.', technical_steps: ['Conferir se o change_id informado existe no contexto de ambiente controlado.','Confirmar se a execucao ocorreu dentro da janela aprovada.','Separar divergencia administrativa de incidente tecnico.','Solicitar decisao humana antes de rollback ou excecao.'], escalation: 'Escalonar para gestao de mudancas e equipe de Rede se a alteracao estiver fora de processo.', critical_actions_need_approval: ['rollback_de_mudanca','excecao_de_mudanca','alteracao_emergencial_de_regra'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-mudanca",
      "name": "08.1 - Especialista Mudanca Firewall",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -120
      ],
      "notesInFlow": true,
      "notes": "Analise local de mudanca sem ServiceNow, sem API externa e sem rollback."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{const normalized=item.json.normalized ?? {}; const fw=normalized.firewall_context ?? {}; const evidence=Array.isArray(normalized.evidence)?normalized.evidence:[]; return { json: { ...item.json, processing_stage: 'security_policy_specialist', specialist_analysis: { specialist: 'security_policy', diagnosis: 'Evento pode afetar postura de seguranca perimetral ou politica de liberacao/bloqueio.', evidence_considered: evidence, affected_entities: { rule_id: fw.rule_id || 'regra_nao_informada', source_ip: fw.source_ip || 'origem_nao_informada', destination_ip: fw.destination_ip || 'destino_nao_informado', service: fw.service || 'servico_nao_informado' }, recommendation: 'Avaliar exposicao e principio do menor privilegio antes de qualquer liberacao ou bloqueio.', technical_steps: ['Revisar se a regra aumenta superficie de exposicao.','Avaliar se origem, destino e servico sao coerentes com a necessidade declarada.','Identificar necessidade de compensacao ou excecao temporaria.','Submeter bloqueio, liberacao ou ajuste a aprovacao humana.'], escalation: 'Escalonar para Seguranca/Rede se houver aumento de exposicao ou regra nao justificada.', critical_actions_need_approval: ['bloqueio_de_origem','liberacao_de_destino','ajuste_de_politica_perimetral'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-politica",
      "name": "08.2 - Especialista Politica Seguranca",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        80
      ],
      "notesInFlow": true,
      "notes": "Analise local de politica de seguranca sem alteracao de firewall."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{const normalized=item.json.normalized ?? {}; const fw=normalized.firewall_context ?? {}; const evidence=Array.isArray(normalized.evidence)?normalized.evidence:[]; return { json: { ...item.json, processing_stage: 'network_infrastructure_specialist', specialist_analysis: { specialist: 'infrastructure', diagnosis: 'Evento pode estar relacionado ao dispositivo de firewall, plataforma de rede ou componente de infraestrutura.', evidence_considered: evidence, affected_entities: { device: fw.device || 'device_nao_informado', service: fw.service || 'servico_nao_informado', action: fw.action || 'acao_nao_informada' }, recommendation: 'Validar estado operacional do dispositivo e impacto antes de qualquer acao de infraestrutura.', technical_steps: ['Verificar se o dispositivo ou cluster estava em manutencao planejada.','Confirmar se a alteracao foi propagada corretamente entre componentes.','Avaliar risco operacional de rollback ou failover.','Executar qualquer acao de plataforma somente apos aprovacao humana.'], escalation: 'Escalonar para Infraestrutura de Rede se houver impacto no appliance, HA ou plataforma.', critical_actions_need_approval: ['failover','rollback_de_configuracao','restart_de_servico_firewall'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-infra",
      "name": "08.3 - Especialista Infraestrutura Rede",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        280
      ],
      "notesInFlow": true,
      "notes": "Analise local de infraestrutura de rede sem banco, API externa ou acao operacional."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{const normalized=item.json.normalized ?? {}; const fw=normalized.firewall_context ?? {}; const evidence=Array.isArray(normalized.evidence)?normalized.evidence:[]; return { json: { ...item.json, processing_stage: 'unknown_specialist', specialist_analysis: { specialist: 'unknown', diagnosis: 'Causa provavel do evento de firewall nao determinada pelas regras locais de producao controlada.', evidence_considered: evidence, affected_entities: { device: fw.device || 'device_nao_informado', source_ip: fw.source_ip || 'origem_nao_informada', destination_ip: fw.destination_ip || 'destino_nao_informado' }, recommendation: 'Manter evento em triagem humana e coletar contexto adicional nao sensivel antes de qualquer acao.', technical_steps: ['Revisar titulo, descricao, entidades e evidencias do evento.','Solicitar contexto de mudanca ou regra sem credenciais ou dados produtivos.','Reexecutar com classification_hint quando a causa for conhecida.','Nao executar bloqueio, liberacao, rollback ou ajuste automatico.'], escalation: 'Escalonar para triagem SOC/Rede humana.', critical_actions_need_approval: ['qualquer_acao_em_firewall_ou_rede'], remediation_allowed: false, route_confirmed: true } } }; });"
      },
      "id": "prod-especialista-unknown",
      "name": "08.4 - Especialista Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        480
      ],
      "notesInFlow": true,
      "notes": "Fallback seguro para eventos sem causa provavel determinada."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{const normalized=item.json.normalized ?? {}; const validation=item.json.validation ?? { is_valid: false, status: 'invalid' }; const rejection=item.json.controlled_rejection ?? null; const classification=item.json.classification ?? { probable_root_cause: rejection ? 'not_classified' : 'unknown', risk_level: 'unknown', risk_score: 0, confidence_level: 'low', confidence_score: 0, classification_reason: rejection ? 'Classificacao nao executada por rejeicao controlada.' : 'Classificacao nao disponivel.' }; const specialist=item.json.specialist_analysis ?? null; const controls=item.json.security_controls ?? {}; const blocked=rejection?.rejected === true || validation.is_valid !== true; const status=blocked ? 'rejected_invalid_payload' : 'analysis_completed_prod'; const finalRecommendation=blocked ? (rejection?.next_action ?? 'Corrigir campos obrigatorios ou violacoes de seguranca antes de nova execucao.') : (specialist?.recommendation ?? 'Revisar manualmente; analise especializada nao disponivel.'); const observability=normalized.observability ?? {}; const now=new Date(); const started=observability.started_at_ms || Date.now(); const processing_time_ms=Math.max(0, Date.now()-started); const workflowName=item.json.workflow_context?.workflow_name || 'SOC-Octopus-Agent - Evento Firewall Production'; const workflowVersion=item.json.workflow_context?.workflow_version || '1.0.0'; const executionId=observability.execution_id || 'exec-' + Date.now(); const correlationId=observability.correlation_id || [normalized.case_id || 'case-missing', normalized.trace_id || 'trace-missing'].join(':'); const output={ execution_id: executionId, workflow_name: workflowName, workflow_version: workflowVersion, correlation_id: correlationId, trace_id: normalized.trace_id || rejection?.trace_id || 'not_avaiprodle', case_id: normalized.case_id || rejection?.case_id || 'not_avaiprodle', status, execution_status: status, input_type: normalized.input_type || 'not_avaiprodle', severity: normalized.severity || 'not_avaiprodle', probable_root_cause: classification.probable_root_cause, risk_level: classification.risk_level, risk_score: classification.risk_score, confidence_level: classification.confidence_level, confidence_score: classification.confidence_score, diagnosis: blocked ? rejection?.reason : (specialist?.diagnosis ?? 'Diagnostico especializado nao produzido.'), solution_recommendation: finalRecommendation, technical_steps: specialist?.technical_steps ?? [], escalation: specialist?.escalation ?? 'Revisao humana obrigatoria antes de qualquer acao.', observability: { execution_id: executionId, workflow_version: workflowVersion, processing_time_ms, correlation_id: correlationId, trace_id: normalized.trace_id || 'not_avaiprodle' }, audit_timestamp: now.toISOString(), audit_summary: 'Workflow production ready; audit trail prepared for SIEM, ticketing, persistence, cache and manual approval governance.', human_approval: { required: true, required_for_actions: specialist?.critical_actions_need_approval ?? [], approval_status: 'pending_human_review' }, security_notes: { external_calls_allowed: controls.external_calls_allowed === true, remediation_allowed: controls.remediation_allowed === true, credentials_allowed: controls.credentials_allowed === true, production_allowed: controls.production_allowed === true, production_changes_allowed: controls.production_changes_allowed === false, human_approval_required: true, automated_action_executed: false }, validation, rejection, classification, specialist_analysis: specialist, integration_targets: { siem: process.env.SIEM_BASE_URL ? 'configured_by_env' : 'needs_env', ticketing: process.env.TICKETING_BASE_URL ? 'configured_by_env' : 'needs_env', postgres: 'configured_by_credential', redis: 'configured_by_credential' } }; return { json: { case_id: output.case_id, trace_id: output.trace_id, output_ready_for_human_review: true, soc_octopus_output: output } }; });"
      },
      "id": "prod-consolidador-final",
      "name": "09 - Consolidador Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        80
      ],
      "notesInFlow": true,
      "notes": "Consolida rejeicao, validacao, classificacao, analise especialista e controles de seguranca em saida revisavel."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SIEM_BASE_URL}}/api/v1/soc-octopus/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "SIEM_READONLY",
          "id": "SIEM_READONLY"
        }
      },
      "id": "prod-siem-sync",
      "name": "10 - SIEM Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2500,
        -260
      ],
      "notesInFlow": true,
      "notes": "Sincroniza evento final com SIEM.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.TICKETING_BASE_URL}}/api/v1/incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json.soc_octopus_output)}}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TICKETING_RW",
          "id": "TICKETING_RW"
        }
      },
      "id": "prod-ticketing-sync",
      "name": "11 - Ticketing Sync Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2500,
        -100
      ],
      "notesInFlow": true,
      "notes": "Cria ou atualiza ticket em sistema configurado por ambiente.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO soc_audit_log (\n  event_type,\n  actor_type,\n  actor_name,\n  action,\n  details\n) VALUES (\n  $1, $2, $3, $4, $5::jsonb\n)\nRETURNING audit_uuid;",
        "options": {
          "queryReplacement": "={{ ['workflow_execution', 'n8n_workflow', $json.soc_octopus_output?.workflow_name || 'SOC-Octopus-Agent', $json.soc_octopus_output?.status || $json.soc_octopus_output?.execution_status || 'analysis_completed', JSON.stringify($json.soc_octopus_output || $json)] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "SOC_OCTOPUS_POSTGRES",
          "id": "SOC_OCTOPUS_POSTGRES"
        }
      },
      "id": "prod-postgres-audit",
      "name": "12 - Persistir Auditoria PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2500,
        60
      ],
      "notesInFlow": true,
      "notes": "Persiste trilha de auditoria em PostgreSQL.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{$json.soc_octopus_output.correlation_id}}",
        "value": "={{ $json.soc_octopus_output }}"
      },
      "credentials": {
        "redis": {
          "name": "SOC_OCTOPUS_REDIS",
          "id": "SOC_OCTOPUS_REDIS"
        }
      },
      "id": "prod-redis-cache",
      "name": "13 - Cache Correlation Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2500,
        220
      ],
      "notesInFlow": true,
      "notes": "Armazena correlacao e output em cache Redis.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{ const original=$('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error=item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'siem', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-siem",
      "name": "10.1 - Auditoria Falha SIEM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -260
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha SIEM."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{ const original=$('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error=item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'ticketing', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-ticketing",
      "name": "11.1 - Auditoria Falha Ticketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -100
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Ticketing."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{ const original=$('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error=item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'postgresql', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-postgres",
      "name": "12.1 - Auditoria Falha PostgreSQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        60
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha PostgreSQL."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item)=>{ const original=$('09 - Consolidador Final').first()?.json?.soc_octopus_output ?? item.json.soc_octopus_output ?? null; const error=item.json.error ?? item.json.message ?? null; return { json: { ...item.json, soc_octopus_output: original, integration_audit: { integration: 'redis', branch: 'audit_failure', status: error ? 'failed' : 'completed', error: error ? (typeof error === 'string' ? error : JSON.stringify(error)) : null, retryable: Boolean(error), observed_at: new Date().toISOString() } } }; });"
      },
      "id": "prod-audit-redis",
      "name": "13.1 - Auditoria Falha Redis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        220
      ],
      "notesInFlow": true,
      "notes": "Auditoria de falha Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-int",
      "name": "14 - Merge Integracoes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        -160
      ],
      "notesInFlow": true,
      "notes": "Consolida SIEM e Ticketing."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-persist",
      "name": "15 - Merge Persistencia",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        160
      ],
      "notesInFlow": true,
      "notes": "Consolida PostgreSQL e Redis."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position",
        "options": {}
      },
      "id": "prod-merge-final",
      "name": "16 - Merge Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3460,
        0
      ],
      "notesInFlow": true,
      "notes": "Consolida integracoes e persistencia antes da resposta."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.soc_octopus_output}}"
      },
      "id": "prod-respond-firewall",
      "name": "17 - Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3780,
        0
      ],
      "notesInFlow": true,
      "notes": "Resposta final ao Webhook."
    }
  ],
  "connections": {
    "01 - Webhook Ingress Production": {
      "main": [
        [
          {
            "node": "02 - Receber Evento Firewall Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00 - Manual Trigger Replay": {
      "main": [
        [
          {
            "node": "02 - Receber Evento Firewall Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Receber Evento Firewall Production": {
      "main": [
        [
          {
            "node": "03 - Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - Normalizar Payload": {
      "main": [
        [
          {
            "node": "04 - Validar Campos Obrigatorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 - Validar Campos Obrigatorios": {
      "main": [
        [
          {
            "node": "05 - Entrada Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 - Entrada Valida?": {
      "main": [
        [
          {
            "node": "06 - Classificar Evento Firewall",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05.1 - Rejeicao Controlada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05.1 - Rejeicao Controlada": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 - Classificar Evento Firewall": {
      "main": [
        [
          {
            "node": "07 - Switch Roteamento Firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 - Switch Roteamento Firewall": {
      "main": [
        [
          {
            "node": "08 - Especialista Rede Firewall",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.1 - Especialista Mudanca Firewall",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.2 - Especialista Politica Seguranca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.3 - Especialista Infraestrutura Rede",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.4 - Especialista Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 - Especialista Rede Firewall": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.1 - Especialista Mudanca Firewall": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.2 - Especialista Politica Seguranca": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.3 - Especialista Infraestrutura Rede": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.4 - Especialista Unknown": {
      "main": [
        [
          {
            "node": "09 - Consolidador Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 - Consolidador Final": {
      "main": [
        [
          {
            "node": "10 - SIEM Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11 - Ticketing Sync Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12 - Persistir Auditoria PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13 - Cache Correlation Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - SIEM Sync Production": {
      "main": [
        [
          {
            "node": "10.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10.1 - Auditoria Falha SIEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - Ticketing Sync Production": {
      "main": [
        [
          {
            "node": "11.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11.1 - Auditoria Falha Ticketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 - Persistir Auditoria PostgreSQL": {
      "main": [
        [
          {
            "node": "12.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12.1 - Auditoria Falha PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 - Cache Correlation Redis": {
      "main": [
        [
          {
            "node": "13.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13.1 - Auditoria Falha Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10.1 - Auditoria Falha SIEM": {
      "main": [
        [
          {
            "node": "14 - Merge Integracoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11.1 - Auditoria Falha Ticketing": {
      "main": [
        [
          {
            "node": "14 - Merge Integracoes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "12.1 - Auditoria Falha PostgreSQL": {
      "main": [
        [
          {
            "node": "15 - Merge Persistencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13.1 - Auditoria Falha Redis": {
      "main": [
        [
          {
            "node": "15 - Merge Persistencia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "14 - Merge Integracoes": {
      "main": [
        [
          {
            "node": "16 - Merge Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 - Merge Persistencia": {
      "main": [
        [
          {
            "node": "16 - Merge Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "16 - Merge Final": {
      "main": [
        [
          {
            "node": "17 - Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "project": "SOC-Octopus-Agent",
    "phase": "production-ready",
    "real_ready": true,
    "production_ready": true,
    "uses_synthetic_payload": false,
    "contains_credentials": false,
    "contains_external_integrations": true,
    "contains_production_data": false,
    "human_approval_required_for_critical_actions": true,
    "validation_profile": "prod-template"
  },
  "tags": []
}
